:root {
    --white-color: #fff;
    --primary-color: #174407;
    --green-color: #0E5416;
    --text-color: rgba(0, 0, 0, 0.5);
    --btn-color: #4CAF4F;
    --bg-color: rgba(166, 246, 175, 0.5);
    --header-color: #174407;
    --green-light: #3B9D39;
    --black-color: #000;
    --grey-color: #adafb1;
    --bg-footer: #263238;
    --dark-grey: grey;
    --height-content: 1000px;
    --light-color: #6e737817;
    --green: #084B0B;
    --grey-bg: #D9D9D9;
    --max-page: 70rem;
    --yellow-color: #ffc107;
}

/* Slick Slider */
.slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: var(--white-color);
}

.slick-dots li button {
    color: var(--white-color);
    background-color: var(--btn-color);
    padding: 4px 10px;
    border: none;
    margin-top:2rem;
    margin-right: 0.5rem;

}

.slick-dots li.slick-active button {
    opacity: 0.8;
}

.slick-prev {
    margin-left: 10rem;
    font-size: 2rem;
    cursor: pointer;
}

.slick-next{
    margin-left: 10rem;
    font-size: 2rem;
    cursor: pointer;
}

/* Animation */
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.form-control{
    border: 1px solid var(--black-color)!important;
}

.form-control {
    border: 1px solid var(--black-color) !important;
}

/* Modal */
.modal_{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    animation: fadeIn ease-in-out 0.2s;
}

.modal__overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}

.modal__body {
    background-color: var(--white-color);
    position: relative;
    margin: 1rem auto 1rem;
}

.no-border{
    border: none !important;
}

.content{
    max-height: var(--max-page);
}

.mh-90{
    max-height: 90%;
}

.calendar:hover .notice-calendar{
    display: block!important;
}

.check:hover .notice-check {
    display: block !important;
}

.broadcast:hover .notice-broadcast {
    display: block !important;
}

.view-detail:hover{
    opacity: 0.9;
}

.search-info-item:hover{
    background-color: var(--light-color);
}

.member-evaluate:hover{
    cursor: pointer !important;
}

.btn-evaluate:hover{
    opacity: 0.9!important;
}

.btn-evaluate-member:hover{
    opacity: 0.9!important;
}

.btn-view-evaluation:hover{
    opacity: 0.9!important;
}

.position-abs{
    position: absolute !important;
    top: calc(100% + 0.31rem)!important;
    left: 0 !important;
    right: 0 !important;
}

.cursor-pointer{
    cursor: pointer !important;
}

.display-flex{
    display: flex!important;
}

.display-block{
    display: block!important;
}

.no-display{
    display: none;
}

.hidden{
    visibility: hidden!important;
}


.box-shadow{
    box-shadow: 0rem 0rem 0.5rem var(--dark-grey) !important;
}

.z-index-0{
    z-index: 0!important;
}

.z-index-1{
    z-index: 1!important;
}

.border_top-solid {
    border-top: solid 0.05rem var(--grey-bg) !important;
}

.border_bottom-solid{
    border-bottom: solid 0.05rem var(--grey-bg) !important;
}

.text_align-center{
    text-align: center !important;
}

.no-text-decoration{
    text-decoration: none !important;
}

.radius-0{
    border-radius: 0rem !important;
}

.radius-lghalf{
    border-radius: 0.4rem !important;
}

.radius-half {
    border-radius: 0.5rem !important;
}

.radius-1{
    border-radius: 1rem !important;
}

.radius-1_8{
    border-radius: 1.8rem !important;
}

.start-1_5{
    left: 1.5rem !important;
}

.bg-white{
    background-color: var(--white-color);
}

.bg-green{
    background-color: var(--bg-color);
}

.bg-btn{
    background-color: var(--btn-color) !important;
}

.green {
    color: var(--green) !important;
}

.form-evaluate{
    z-index: 1 !important;
}

.white-light-color{
    color: rgba(179, 173, 173, 0.9)!important;
}

.yellow-color{
    color: var(--yellow-color) !important;
}

.white-color{
    color: var(--white-color) !important;
}

.green_light-color{
    color: var(--green-light)!important;
}

.green-color {
    color: var(--green-color) !important;
}

.grey-color{
    color: var(--grey-color) !important;
}

.bg-grey{
    background-color: var(--grey-bg) !important;
}

.bg-white{
    background-color: var(--white-color) !important;
}

.bg-green-dark{
    background-color: var(--green-color) !important;
}

.dark_grey-color{
    color: var(--dark-grey);
}

.no-outline{
    outline: none !important;
}

.overflow-auto{
    overflow: auto !important;
}

.overflow-hidden {
    overflow: hidden;
}

.no-resize{
    resize: none !important;
}

.mh-60{
    min-height: 60%!important;
}

.btn-send:hover{
    opacity: 0.9;
}

.height-10rem{
    height: 8rem !important;
}

.max_height-37rem {
    max-height: 37rem !important;
}

.max_height-35rem {
    max-height: 35rem !important;
}

.max_height-33rem{
    max-height: 33rem !important;
}

.max_height-30rem{
    max-height: 30rem !important;
}

.max_height-29_5rem {
    max-height: 29.5rem !important;
}

.max_height-28_5rem {
    max-height: 28.5rem !important;
}

.height-2rem{
    height: 2.1rem !important;
}

.width-10rem{
    width: 4rem !important;
}


.width-25rem{
    width: 25rem !important;
}

.w-40{
    width: 45%!important;
}

.w-60{
    width: 60%!important;
}

.w-70 {
    width: 70% !important;
}

.w-30{
    width: 30% !important;
}

.w-2{
    width: 2rem !important;
}

.top-100{
    top: calc(100% + 0.8rem) !important;
}

.border-search{
    border: 0.2rem solid var(--grey-color) !important;
    border-radius:1.8rem !important;
}

.border_bottom-2{
    border-bottom: 2rem!important;
}

.my-6 {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
}
.ml--3{
    margin-left: -3rem !important;
}

.ml--2 {
    margin-left: -2rem !important;
}

.ml-0_5{
    margin-left: 0.5rem;
}

.ml-0_1{
    margin-left: 0.1rem;
}

.ml--0_2{
    margin-left: -0.2rem;
}

.ml-3{
    margin-left: 3rem;
}

.ml-4 {
    margin-left: 0rem;
}

.px-4_5{
    padding: 0 3.5rem!important;
}

.justify-content-end{
    justify-content: flex-end !important;
}

.justify-content-start{
    justify-content: flex-start!important;
}
.flex-1{
    flex: 1.5;
}

.flex-2{
    flex: 2;
}

.flex-3{
    flex: 3;
}

.flex-4{
    flex:4;
}

.flex-5{
    flex:5;
}

.flex-6{
    flex: 6;
}

.flex-16 {
    flex: 16;
}

.px-6{
    padding-left: 4rem !important;
    padding-right: 4rem !important;
}

.mt-7{
    margin-top: 2rem !important;
}

.mg-0{
    margin-left: -1rem !important;
    margin-right: -1rem !important;
}

.mb--1 {
    margin-bottom: 0.8rem !important;
}

.mb--2{
    margin-bottom: 2rem !important;
}

.mx--2{
    margin-left: -0.5rem !important;
}

.ml-3 {
    margin-left: 3rem!important;
}

.ml-0_9 {
    margin-left: 0.9rem !important;
}

.ml-1_4 {
    margin-left: 1.4rem !important;
}

.ml-2_5{
    margin-left: 2.5rem !important;
}

.pleft-6{
    padding-left: 6rem !important;
}

.w-1_8 {
    width: 1.8rem !important;
}

.mt-2_8 {
    margin-top: 2.8rem !important;
}

.w-2_5{
    width: 2.5rem!important;
}

.h-1_8{
    height: 1.8rem !important;
}

.w-45{
    width: 45rem !important;
}

.mh-12{
    min-height: 15rem!important;
}

.h-2_5{
    height: 2.5rem !important;
}

.h-2_7{
    height: 2.7rem!important;
}

.w-15{
    width: 15% !important;
}

.h-1{
    height: 1rem !important;
}

.w-10{
    width: 10% !important;
}

.w-90{
    width: 90%!important;
}

.w-85{
    width: 85%!important;
}

.h-80{
    height: 80% !important;
}

.fs-7{
    font-size: 0.85rem!important;
}

.fs-9{
    font-size: 0.9rem;
}

.fs-11{
    font-size: 0.8rem!important;
}

.fs-10{
    font-size: 0.7rem !important;
}

.b-100{
    bottom: 100%!important;
    left: -3rem !important;
}

.w-10rem{
    width: 8rem !important;
}

.pt-1_2{
    padding-top: 1.2rem;
}

@media (min-width: 463px) and (max-width: 997px) {
    .fs-8{
        font-size: 0.8rem !important;
        padding: 0.4rem !important;
        margin-top: 0rem !important;
        text-align: center !important;
    }

    .mt-9{
        margin-top: 2rem!important;
    }
}

@media(min-width: 1075px){
    .max-line-2{
        max-height: 40px;
        overflow: hidden;
    }

    .max-line-1{
        max-height: 17.5px;
        overflow: hidden;
    }

    .max-line-3{
        max-height: 46px;
        overflow: hidden;
    }

    .max-line-4{
        max-height: 57.6px;
        overflow: hidden;
    }
}