:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --main-color: #136b1d;

    --main-width: 1170px;
    --main-padding: 150px;

    --heading-size: 1.75rem;
    --subhead-size: 1.125rem;
    --smallhead-size: 0.9375rem;
    --content-size: 0.8125rem;
    --green-light: #3B9D39;
    --black-color: #000;
    --white-color: #fff;
    --btn-color: #4CAF4F;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    /* font-size: 62.5%; */
    line-height: 1rem;
    /* font-family: 'Roboto', sans-serif; */
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}
.clear{
    clear: both;
}

.w-2_5 {
    width: 2.5rem !important;
}

.h-2_5{
    height: 2.5rem !important;
}

.radius-1{
    border-radius: 1rem !important;
}

.align-item-center{
    align-items: center!important;
}

.dropdown-notify{
    width: 420px;
 }

.bg-grey{
    background-color: #D9D9D9 !important;
}

.green_light-color{
    color: var(--green-light)!important;
}

.no-border{
    border: none !important;
}

.white-color{
    color: var(--white-color) !important;
}

.bg-btn{
    background-color: var(--btn-color) !important;
}

.radius-half {
    border-radius: 0.5rem !important;
}

.fs-9{
    font-size: 0.9rem;
}

.radius-1{
    border-radius: 1rem !important;
}

.black-color{
    color: #000!important;
}

.h-2{
    height: 2rem;
}

.dropdown-item:active {
    background-color: #cccccc;
}



