.logo{
    font-size: 3rem;
    font-weight: bold;
    background: linear-gradient(to bottom, #1a4d51, #0E5416, #8BFF44);
    -webkit-background-clip: text; /* Cho trình duyệt WebKit (Chrome, Safari) */
    color: transparent;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: all 3s ease;
}

#myHeader {
    transition: all 3s ease;
}
.header__navlogo{
    height: 86px;
    align-items: center;
    justify-items: center;
}
.header__navbar {
    background-color: var(--main-color);
    text-transform: uppercase;
    padding-left: 8rem !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 1.25rem !important;
    padding-left: 1.25rem !important;
}
.header__navbar a{
    color: var(--white-color);
    text-decoration: none;
    font-size: 1rem;
    line-height: 3.25rem;
    display: inline-block;
    padding: 0;
}
.header__navbar a:hover{
    background-color: #fff;
    color: var(--main-color);
    border-radius: 3px;
}
/*.header__navbar a.active{*/
/*    color: var(--main-color);*/
/*}*/
.btnDangNhap{
    margin-right: 4rem;
    background-color: var(--main-color) !important;
    color: #fff !important;
}
.btnDangNhap:hover{
    background-color: #174407!important;
    color: var(--main-color);
}
.user-profile{
    margin-right: 5rem;
}
#btn_userProfile{
    border:none;
    background-color: #fff;
}

.img-avartar-login {
    border-radius: 50%;
    border: 0.2rem solid #fff;
    width: 3rem;
    height: 3rem;
}
.img-avatar-small{
    border-radius: 50%;
    border: 0.2rem solid #fff;
    width: 3rem;
    height: 3rem;
}
.user-name{
    font-weight: bold;
    color: var(--main-color);
}
.user-profile .dropdown-item{
    padding: 1rem;
    border-radius: 3px;
}
.user-profile .dropdown-item:hover{
    background-color: var(--main-color);
    color: #fff;
}