/* -----------Đăng nhập--------------- */
.modal-dialog-dangnhap{
    /*max-width: 25rem !important;*/
    width: fit-content;
}
.modal-content-dangnhap{
    background-image: url("../images/login.png");
    background-size: cover;
    width:25rem;
    height: 35rem;
    align-content: center;
}
.modal-content-changePass{
    background-image: url("../images/anhNen8.png");
}
.modal-body-dangnhap{
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35rem;
    margin: 0!important;
}
.header_login{
    position: absolute;
    top:2rem;
    left: 0;
    right: 0;
    text-align: center;
}

.title-top{
    color:#174407;
    font-weight: bold;
    font-size: 25px;
}

.showPass{
    font-size: 1rem;
    margin-bottom: 0.6rem;
}
.checkShowPass{
    margin-left: 0.8rem;
}

.body_login{
    position: absolute;
    top:7rem;
    left: 0;
    right: 0;
    text-align: center;

}
.body_login-content {
    margin: 1.8rem 0 0.8rem;
    position: relative;
}
.body_login-content input {
    width: 17rem;
    height: 2.5rem;
    border-radius: 20px;
    background: none;
    border: 0.5px solid #174407;
    outline: none;
    padding: 0 1.3rem;
}
.btndelete_input{
    position: absolute;
    top: 50%;
    right: 5rem;
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1.3rem;
    color: #ccc;
}
.btndelete_input:hover{
    color: #0E5416;
    font-weight: bold;
}
#error-message{
    color: #CC0000;
    font-size: 13px;
}
#btnLogin, #btnConfirmOTP, #btnChangePassword{
    width: 17rem;
    height: 2.5rem;
    background: linear-gradient(91deg, #0E5416 8.46%, #48E56B 114.48%);
    color: white;
    border-radius: 20px;
    margin-top:7px;
    border: 0.5px solid #174407;
}
.body_forgetPass-content{
    margin-bottom: 1rem;
}
.body_forgetPass-content input:not([type="button"]):not([type="submit"]){
    width: 17rem;
    height: 2.5rem;
    border-radius: 8px;
    background: #ccfdce;
    border: 0.5px solid #174407;
    outline: none;
    padding: 0 1.3rem;
    color: #065401;
    margin-top: 0.6rem;
}
.modal-content-forgetPass{
    /*background-image: url("../images/nen_quen_mk.png");*/
    /*background: linear-gradient(271deg, #91dc78 0%, rgba(94, 178, 52, 0.93) 199.87%);*/
    /*background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../images/nen_quenmk.png");*/
    background: linear-gradient(rgba(254, 254, 254 , 0.32), rgba(255, 255, 255, 0)), url(../images/nen3.png);
    background-size: cover;
    width:25rem;
    height: 30.5rem;
    align-content: center;
    /*filter: blur(5px);*/
    background-position: bottom ;
}
.lblEmail{
    /*color: #185b00;*/
    color: #000000;
    margin-left: 4.5rem;
    font-size: 1rem;
    font-weight: 600;
}
.btn-send-again{
    margin-left: 4rem;
    background: none;
    color: #000000;
    border: none;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.2rem 0.5rem;
}
.btn-send-again:hover{
    font-weight: 500;
}
.btn-send-otp{
    width: 7rem;
    height: 2rem;
    background: linear-gradient(91deg, #0f6919 8.46%, #12862c 114.48%);
    color: white;
    border-radius: 20px;
    margin-top: 0.5rem;
    border: 0.5px solid #174407;
    margin-right: 4rem;
    margin-bottom: 1rem
}
.btn-send-otp:hover{
    background: linear-gradient(91deg, #03440c 8.46%, #006e21 114.48%);
}
::placeholder{
    color:#174407;
    font-weight: 400;
}
.footer_login-status{
    width: 15rem;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    color:#174407;
    font-weight:480;
    margin-left: 5rem;
}
.login_or{
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color:#174407;
    font-weight: 480;
}
.login_another img{
    width: 1.5rem !important;
    height: 1.5rem !important;
    margin-top: 0.7rem;
}
.footer_login-another {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_another img {
    margin-left: 0.35rem;
    margin-bottom: 2rem; /* Add margin between the images */
}
.regis{
    /* margin-top: 2rem; */
    margin-left: 2rem;
}
.regis-not{
    font-size: 0.8rem;
    color:rgba(56, 142, 59, 0.60);
    font-weight: 400;
}
.regis-done{
    font-size: 0.9rem;
    color:#174407;
    font-weight: 400;
}

.status_forget{
    border: none;
    width: fit-content;
    background-color: #ffffff;
    color: #174407;
    font-size: 14px;
}
.status_forget:hover{
    font-weight: 500;
    color: #113305;
}
/* Theme Anhr */

.form-control{
    border: 1px solid black !important;
}


/*Logout*/
#btnLogout{
    /*border: none;*/
    /*margin-left: 1rem;*/
    /*font-size: 1.5rem;*/
    /*background-color: #fff;*/
}

/*----- modal đăng ký------*/
#formRegisterAccount{
    padding: 1rem 2rem!important;
}
.content-sign-up{
    background-image: url('../images/anhNen6.png');
    border-radius: 5px;
    /*background: linear-gradient(to left, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8)), url('../images/nen_login.png');*/
    background-size: cover; /* Đảm bảo ảnh nền kích thước cover */
    background-position: center center; /* Căn giữa ảnh nền */
    align-items: center;
}
#formRegisterAccount label{
    /*background-color: #cccccc;*/
    font-weight: 500;
    margin-right: 1rem;
    color: #0E5416;
}
.btn-footer-modal button{
    background-color: #136B1DFF;
}
#btn-sign-up{
    border: none;
    background-color: #ffffff;
    color: #414141;
}
#btn-sign-up:hover{
    color: #000000;
}