:root{
    --dire: #EB5858;
    --sliderback: #0E5416;
    --slider-img: rgba(14, 84, 22, 0.50);
    --sear: #174407;
    --btn:#4CAF4F;
    --txt: rgba(219, 250, 220, 0.5);
}

.tongket-reviews{
    position: relative;
}
.tongket-reviews .form_upload{
    width:9rem;
    position: relative;
    height: 3rem;
    background-color:white ;
    color:var(--sear);
    box-sizing: border-box;
    padding: 0.5rem;
    border-radius: 20px;
    border: 1px solid var(--sear);
}
#imgdf{
    width: 2rem;
    height: 2rem;
}
.tongket-reviews .form_upload>label{
    height: 3rem;
    height: 7rem;
    display: block;
    cursor: pointer;
}
.tongket-reviews .form_upload label span{
    display: inline-block;
    /*background: url(../images/av3.png) no-repeat;*/
    background-size: 5rem 3rem;
    /* margin: 0.5rem 0 0 0.9rem; */
}
.list_attach{
    display: block;
    margin-top: 2rem;
}
ul.tongket_attach_view{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.tongket_attach_view li{
    float: left;
    width: 7rem;
    margin: 0 1rem 1rem 0 !important;
    padding: 0 !important;
    border: 0 !important;
    overflow: inherit;
    clear:none;
}
ul.tongket_attach_view .img-wrap{
    position: relative;
}
ul.tongket_attach_view .img-wrap .close{
    position: absolute;
    right: -0.3rem;
    top:-0.4rem;
    background: var(--sear);
    color: white !important;
    border-radius: 50%;
    z-index: 2;
    display: block;
    width: 1rem;
    height: 1rem;
    font-size: 0.8rem;
    text-align: center;
    line-height: 1rem;
    cursor: pointer !important;
    opacity: 1 !important;
    text-shadow: none;
}
ul.tongket_attach_view li.li_file_hide{
    opacity: 0;
    visibility: visible;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden;
    margin:0 !important;
}
ul.tongket_attach_view .img-wrap-box{
    position: relative;
    overflow: hidden;
    padding-top: 100%;
    height: auto;
    background-position: 50% 50%;
    background-size: cover;
}
.img-wrap-box img{
    right:0;
    width: 100% !important;
    height: 100% !important;
    bottom: 0;
    left: 0;
    top: 0;
    position: absolute;
    object-position: 50% 50%;
    object-fit: cover;
    transition: all .5s linear;
    -moz-transition:  all .5s linear;
    -webkit-transition: all .5s linear;
    -ms-transition: all .5s linear;
}
ul li, ol li{
    list-style-position: inside;
}
.list_attach span.tongket_insert_attach{
    width: 7rem;
    height: 7rem;
    text-align: center;
    display: inline-block;
    border: 2px solid #ccc;
    line-height: 5rem;
    font-size: 3rem;
    color: #ccc;
    display: none;
    cursor: pointer;
}
.list_attach.show-btn span.tongket_insert_attach{
    display: block;
    margin: 0 0 1rem !important;
}

ul.tongket_attach_view li input{
    display: none;
}
/* --------------Thêm hoạt động---------- */

.modal-header-themhd{
    /* background-color: var(--activity) !important; */
    /* color:var(--white) !important; */
    background-color: white;
    color:var(--sear);
    text-align: center;

}
.btnClose{
    color:white !important;
}
/* #defaultImage{
    display: block;
    width: 33rem;
    height: 20rem;
} */
#userImage, #userImageView{
    display: block;
    width: 33rem;
    height: 20rem;
}
.lbHD{
    color:var(--sear) !important;
    font-size: 0.85rem;
    font-weight: bold;
}
.textfieldHD{
    width: 33rem ;
    height: 2.2rem ;
    outline:none;
}
.modal-body-detail{
    padding:0.5rem;
}
.modal-title-themhd{
    /* margin-left: 20rem !important; */
    font-weight: bold;
}
.select-chu-de{
    height: 32px;
    width: fit-content;
    padding: 0 1.2rem
}
.modal-body-detail input{
    background-color: white;
    border: 1px solid var(--sear);
    border-radius: 20px;
}
.modal-body-detail i{
    margin-right: 0.2rem;
    color:var(--sear);
}
.txt-tnv{
    width: 9.5rem;
    height: 2rem;
    outline: none;
}
#txt_mota{
    background-color: white;
    border: 1px solid var(--sear);
    border-radius: 20px;
    outline: none;
}
.txt_dateBD .txt_dateKT{
    outline:none;
}
.modal-footer-themhd{
    margin-right: 10rem;
}
.btnSave{
    background-color: var(--btn);
    color:white;
    border: none;
    padding:0.5rem;
    margin-right: 1rem !important;
}
.btnCancel{
    background-color: var(--btn);
    color:white;
    border: none;
    padding:0.5rem;
}
/* Thêm một tổng kết hoạt động */
#txt_tongket{
    background-color: white;
    border: 1px solid var(--sear);
    border-radius: 20px;
    outline: none;
}


#defaultImageTK{
    display: block;
    width: 15rem;
    height: 8rem;
}
#userImageTK{
    display: none;
    width: 33rem;
    height: 20rem;
}
.modal-header-tongket{
    background-color:white;
    color:var(--sear) !important;
}
.modal-title-tongket{
    font-weight: bold;
    /* margin-left: 17rem; */
}

#ViewHoaDongModal .modal-body {
    max-height: 40rem; /* Đặt chiều cao tối đa của modal-body */
    overflow-y: auto; /* Hiển thị thanh cuộn khi cần */
}
#ViewHoaDongModal .modal-body::-webkit-scrollbar {
    width: 8px; /* Độ rộng của thanh cuộn */
}

#ViewHoaDongModal .modal-body::-webkit-scrollbar-thumb {
    background-color: #888; /* Màu của mặt đối tượng thanh cuộn */
    border-radius: 4px; /* Bo góc của thanh cuộn */
}

#ViewHoaDongModal .modal-body::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Màu nền của thanh cuộn */
}