<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chi tiết hoạt động </title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <script defer th:src="@{/js/Header.js}"></script>
</head>

<body>
<div id="iframe-container" class="sticky-top" style="top: -87px">
</div>
<div class="container">
  <!-- titel hoạt động -->
  <div class="row p-5">
    <div class="col-md-8 p-8 ">
      <div class="name_detail">
        <p class="detail_title">PHÁT ĐỘNG CHIẾN DỊCH XUÂN TÌNH NGUYỆN 2023 - HÀNH TRÌNH NGÀN DẶM</p>
        <div class="date-range"> <i class="bi bi-calendar2-range"></i>1/1/2023-3/1/2023</div>
        <hr>
      </div>
    </div>
    <div class="col-md-4 detail_topic  text-center mx-auto">
      <i class="bi bi-cloud icon_cloud"></i>
      <span class="topic">TRẺ EM</span>
    </div>
  </div>
  <div class="row px-5">
    <div class="col-md-8">
      <img class="img_activity" src="../static/images/anhchitiet.jpg" alt="">
    </div>
    <div class="col-md-4 main_phase">
      <!--  Code giai đoạn và button tham gia -->
      <div class="phase_base p-2">
        <span class="phase_base_title">Trạng thái hoạt động</span>
        <div class="row">
          <div class="col-md-2">
            <div class="rectangle">
              <i class="bi bi-circle-fill circle-1"></i>
              <i class="bi bi-circle-fill circle-2"></i>
              <i class="bi bi-circle-fill circle-3"></i>
            </div>
          </div>
          <div class="col-md-10">
            <svg  viewBox="0 0 73 31"  class="frame1">
              <path d="M69.4563 31H19.1359C17.3641 31 15.5922 30.38 14.1748 29.14L1.06311 17.67C-0.354369 16.43 -0.354369 14.57 1.06311 13.33L14.1748 1.86C15.5922 0.62 17.3641 0 19.1359 0H69.4563C71.5825 0 73 1.24 73 3.1V27.9C73 29.76 71.5825 31 69.4563 31Z"/>

            </svg>
            <svg viewBox="0 0 90 31"  class="frame2">
              <path d="M90.9328 31.5087H19.1139C17.4201 31.5087 15.7262 30.8909  14.3712 29.6553L1.83674 18.2255C0.481666 16.9898 0.481666 15.1363 1.83674 13.9007L14.3712 2.47091C15.7262 1.23526 17.4201 0.617432 19.1139 0.617432H90.9328C92.9654 0.617432 94.3204 1.85308 94.3204 3.70656V28.4196C94.3204 30.2731 92.9654 31.5087 90.9328 31.5087Z"/>
            </svg>
            <svg  viewBox="0 0 73 31"  class="frame3">
              <path d="M62.5107 31.1059H18.8244C17.1696 31.1059 15.5149 30.4844 14.191 29.2414L1.94563 17.7436C0.621802 16.5006 0.621802 14.6361 1.94563 13.3931L14.191 1.89527C15.5149 0.652261 17.1696 0.0307617 18.8244 0.0307617H62.5107C64.4964 0.0307617 65.8203 1.27377 65.8203 3.13828V27.9984C65.8203 29.8629 64.4964 31.1059 62.5107 31.1059Z"/>
            </svg>
          </div>
          <div class="frame1-text">Chưa diễn ra</div>
          <div class="frame2-text">Đang diễn ra</div>
          <div class="frame3-text">Đã diễn ra</div>
        </div>


      </div>
      <button type="button" class="btn-Join">Tham gia</button>

    </div>
  </div>

</div>
<div class="container-fluid content_session2">
  <h2 class="content_detail_title">NỘI DUNG</h2>
  <!-- <span class="content_detail_title">NỘI DUNG</span> -->
  <div class="row bg-green-light" >
    <div class="col-md-8">
      <div class="content_detail_body ">
        <div class="text-content">
          ” Đón xuân về với mai đào trước sân
          Nghe hương xuân đưa lâng lâng
          ….
          Quà nào bằng gia đình sum vầy
          Tết nào vui bằng tết đoàn viên”
          Vậy là ánh nắng cuối đông cũng sắp nhường chỗ cho những tia nắng xuân rộn ràng ấm áp
          Và cũng như hằng năm, chiến dịch “XUÂN TÌNH NGUYỆN” của Đội Công tác Xã hội - Đại Học Bách Khoa - Đại học Đà Nẵng sắp sửa diễn ra nhằm tạo thêm không khí rộn ràng của mùa xuân. Chiến dịch mang tên “Hành Trình Ngàn Dặm”
          Với mong muốn kết nối, giúp đỡ cộng đồng bằng những hành động và việc làm thiết thực nhất, Đội Công tác Xã hội tổ chức chiến dịch “XUÂN TÌNH NGUYỆN 2023 - HÀNH TRÌNH NGÀN DẶM” với thông điệp “ÓNG ÁNH GIỌT MỒ HÔI - ĐEM SỨC TRẺ CHO ĐỜI”, nhằm mang đến những tia nắng ấm áp đến với các em nhỏ và người dân ở những nơi khó khăn cần giúp đỡ. Kết nối mọi người cùng hoà vào không khí Tết Việt đầy tình yêu thương
          Đây cũng sẽ là cơ hội để các thành viên của đại gia đình Công Tác Xã Hội thể hiện một tinh thần đầy nhiệt huyết và sức trẻ trên mỗi người khi đến với chiến dịch Xuân Tình Nguyện 2023 Là dịp để chúng ta có thể ngồi xuống và kể cho nhau nghe những hành trình chia sẻ yêu thương đến với các hoàn cảnh khó khăn ngoài kia hay những niềm vui, điều hạnh phúc trong lòng của mỗi người khi cùng nhau đồng hành đi qua những chương trình hết sức ý nghĩa của Đội mang tên Công Tác Xã Hội
          Với chuyến đi chiến dịch lần này, hứa hẹn sẽ mang đến cho các thành viên một trải nghiệm
          tuyệt
          vời và đầy ý nghĩa. Mong rằng các thành viên sẽ cùng nối tay nhau làm nên những điều ý nghĩa
          hơn "Một hành động nhỏ cho đi, tạo nên hạnh phúc lớn"
        </div>

      </div>
    </div>
    <div class="col-md-4 group_member_main" >
      <div class="group_member">
        <h3 class="group_member-organize">NHÀ TỔ CHỨC</h3>
        <h6 class="name-organize">Nguyễn Lan Anh</h6>
        <img src="../static/images/ava.jpg" alt="" class="images-organize">
        <hr class="dash_organize"  />
        <h3 class="group_member-parti">THÀNH VIÊN</h3>
        <div class="group_member-list">
          <div class="member">
            <img class="member-ava" src="../static/images/ava1.jpg" alt="">
            <span class="member-name">Nguyễn Thị Kim Chi</span>
          </div>
          <div class="member">
            <img class="member-ava" src="../static/images/anh2.jpg" alt="">
            <span class="member-name">Nguyễn Trung Thành</span>
          </div>
        </div>
        <h6 class="member_more" data-bs-toggle="modal" data-bs-target="#MemberModal">XEM THÊM</h6>
      </div>
      <div class="group_member-plus"></div>
    </div>
  </div>
</div>
<!-- Thông tin thêm về địa điểm -->
<div class="container p-5 " >
  <div class="col-md-8 ">
    <hr>
    <h2 class="content_plus_title">ĐỊA ĐIỂM TỔ CHỨC</h2>
    <div class="plus_detail"><i class="bi bi-geo-alt-fill"></i><span> Địa điểm: </span><span class="plus_detail_address">Nóc Ông Súp, thôn 2, xã Trà Dơn, huyện Nam Trà My, tỉnh Quảng Nam.</span></div>
    <br>
    <h2 class="content_plus_title">THỜI GIAN</h2>
    <div class="plus_detail"><i class="bi bi-calendar3-week"></i><span> Thời gian: </span><span class="plus_detail_date">01-01-2023 - 03-01-2023</span></div>
    <br>
    <h2 class="content_plus_title">SỐ TÌNH NGUYỆN VIÊN</h2>
    <div class="plus_detail"><i class="bi bi-people-fill"></i><span> Số tình nguyện viên: </span><span class="plus_detail_date">50</span></div>
  </div>
</div>
<div class="modal fade" id="MemberModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-member-member">
    <div class="modal-content modal-content-member">
      <div class="modal-header modal-header-member">
        <h5 class="modal-title modal-title-member" id="exampleModalLabel">TÌNH NGUYỆN VIÊN</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body modal-body-member">
        <div class="modal-member">
                        <span>
                            <img class="modal-member-ava" src="../static/images/ava1.jpg" alt="">
                            <span class="modal-member-name">Nguyễn Thị Kim Chi</span>
                        </span>
          <span class="modal-member-rate">
                            <i class="rate-detail">5</i>
                            <i class="bi bi-star-fill icon-star"></i>
                        </span>
        </div>
        <div class="modal-member">
                        <span>
                            <img class="modal-member-ava" src="../static/images/ava2.png" alt="">
                            <span class="modal-member-name">Nguyễn Trung Thành</span>
                        </span>
          <span class="modal-member-rate">
                            <i class="rate-detail">5</i>
                            <i class="bi bi-star-fill icon-star"></i>
                        </span>
        </div>
        <div class="modal-member">
                        <span>
                            <img class="modal-member-ava" src="../static/images/ava3.jpg" alt="">
                            <span class="modal-member-name">Phan Thị Mỹ Anh</span>
                        </span>
          <span class="modal-member-rate">
                            <i class="rate-detail">5</i>
                            <i class="bi bi-star-fill icon-star"></i>
                        </span>
        </div>
        <div class="modal-member">
                        <span>
                            <img class="modal-member-ava" src="../static/images/ava4.jpg" alt="">
                            <span class="modal-member-name">Phạm Hồng Ngọc</span>
                        </span>
          <span class="modal-member-rate">
                            <i class="rate-detail">5</i>
                            <i class="bi bi-star-fill icon-star"></i>
                        </span>
        </div>
        <div class="modal-member">
                        <span>
                            <img class="modal-member-ava" src="../static/images/av5.jpg" alt="">
                            <span class="modal-member-name">Lê Phan</span>
                        </span>
          <span class="modal-member-rate">
                            <i class="rate-detail">5</i>
                            <i class="bi bi-star-fill icon-star"></i>
                        </span>
        </div>
        <div class="modal-member">
                        <span>
                            <img class="modal-member-ava" src="../static/images/av7.jpg" alt="">
                            <span class="modal-member-name">Huỳnh Ngọc Minh</span>
                        </span>
          <span class="modal-member-rate">
                            <i class="rate-detail">5</i>
                            <i class="bi bi-star-fill icon-star"></i>
                        </span>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>

</html>