<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chi tiết hoạt động </title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}">
  <script  defer th:src="@{/js/Header.js}"></script>
  <script  defer th:src="@{/js/ChiTietHoatDong.js}"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</head>
<body>
<div id="placeholder" style="height: 87px; display: none;"></div>
<div id="myHeader" style="top: -87px" th:include="Header :: html"></div>
<div class="container">
  <!-- titel hoạt động -->
  <div class="row p-5">
    <div class="col-md-8 p-8 ">
      <div class="name_detail">
        <p class="detail_title" th:text="${hoatdong.getTenhd()}"></p>
        <div class="date-range"> <i class="bi bi-calendar3-week"></i><span th:text="' '+ ${#temporals.format(hoatdong.getThoiGianBD(), 'dd/MM/yyyy')} + ' - ' + ${#temporals.format(hoatdong.getThoiGianKT(), 'dd/MM/yyyy')}"></span></div>
        <hr>
      </div>
    </div>
    <div class="col-md-4 detail_topic  text-center mx-auto">
      <i class="bi bi-cloud icon_cloud"></i>
      <span class="topic" th:text="${hoatdong.getMaChuDe().getTenChuDe()}"></span>
    </div>
  </div>
  <div class="row px-5">
    <div class="col-md-8">
      <img class="img_activity" th:src="@{${hoatdong.getAnh()}}" />
    </div>
    <div class="col-md-4 main_phase">
      <!--  Code giai đoạn và button tham gia -->
      <div class="phase_base p-2">
        <span class="phase_base_title">Trạng thái hoạt động</span>
        <div class="row">
          <div class="col-md-2">
            <div class="rectangle">
              <i th:if="${hoatdong.getTinhTrangHD()==1}" class="bi bi-circle-fill circle-1 color-gd1"></i>
              <i th:if="${hoatdong.getTinhTrangHD()==2}" class="bi bi-circle-fill circle-1 color-gd2"></i>
              <i th:if="${hoatdong.getTinhTrangHD()==0}" class="bi bi-circle-fill circle-1 color-gd1"></i>

              <i th:if="${hoatdong.getTinhTrangHD()==1}" class="bi bi-circle-fill circle-2 color-gd2"></i>
              <i th:if="${hoatdong.getTinhTrangHD()==2}" class="bi bi-circle-fill circle-2 color-gd2"></i>
              <i th:if="${hoatdong.getTinhTrangHD()==0}" class="bi bi-circle-fill circle-2 color-gd1"></i>

              <i th:if="${hoatdong.getTinhTrangHD()==1}" class="bi bi-circle-fill circle-3 color-gd2"></i>
              <i th:if="${hoatdong.getTinhTrangHD()==2}" class="bi bi-circle-fill circle-3 color-gd2"></i>
              <i th:if="${hoatdong.getTinhTrangHD()==0}" class="bi bi-circle-fill circle-3 color-gd1"></i>
              <i class="bi bi-circle-fill circle-3 color-gd2"></i>
            </div>
          </div>
          <div class="col-md-10">

            <svg viewBox="0 0 73 31"  class="frame1">
              <path d="M69.4563 31H19.1359C17.3641 31 15.5922 30.38 14.1748 29.14L1.06311 17.67C-0.354369 16.43 -0.354369 14.57 1.06311 13.33L14.1748 1.86C15.5922 0.62 17.3641 0 19.1359 0H69.4563C71.5825 0 73 1.24 73 3.1V27.9C73 29.76 71.5825 31 69.4563 31Z"/>
            </svg>
            <svg th:if="${hoatdong.getTinhTrangHD()==1}" viewBox="0 0 90 31"  class="frame2 color--frame" >
              <path d="M90.9328 31.5087H19.1139C17.4201 31.5087 15.7262 30.8909  14.3712 29.6553L1.83674 18.2255C0.481666 16.9898 0.481666 15.1363 1.83674 13.9007L14.3712 2.47091C15.7262 1.23526 17.4201 0.617432 19.1139 0.617432H90.9328C92.9654 0.617432 94.3204 1.85308 94.3204 3.70656V28.4196C94.3204 30.2731 92.9654 31.5087 90.9328 31.5087Z"/>
            </svg>
            <svg th:if="${hoatdong.getTinhTrangHD()==2} or ${hoatdong.tinhTrangHD==1}" viewBox="0 0 90 31"  class="frame2" >
              <path d="M90.9328 31.5087H19.1139C17.4201 31.5087 15.7262 30.8909  14.3712 29.6553L1.83674 18.2255C0.481666 16.9898 0.481666 15.1363 1.83674 13.9007L14.3712 2.47091C15.7262 1.23526 17.4201 0.617432 19.1139 0.617432H90.9328C92.9654 0.617432 94.3204 1.85308 94.3204 3.70656V28.4196C94.3204 30.2731 92.9654 31.5087 90.9328 31.5087Z"/>
            </svg>
            <svg th:if="${hoatdong.getTinhTrangHD()==0}" viewBox="0 0 90 31"  class="frame2 color--frame color_black-light" >
              <path d="M90.9328 31.5087H19.1139C17.4201 31.5087 15.7262 30.8909  14.3712 29.6553L1.83674 18.2255C0.481666 16.9898 0.481666 15.1363 1.83674 13.9007L14.3712 2.47091C15.7262 1.23526 17.4201 0.617432 19.1139 0.617432H90.9328C92.9654 0.617432 94.3204 1.85308 94.3204 3.70656V28.4196C94.3204 30.2731 92.9654 31.5087 90.9328 31.5087Z"/>
            </svg>
            <svg th:if="${hoatdong.getTinhTrangHD()==0} or ${hoatdong.getTinhTrangHD()==1}" viewBox="0 0 73 31"  class="frame3 color--frame color_black-light">
              <path d="M62.5107 31.1059H18.8244C17.1696 31.1059 15.5149 30.4844 14.191 29.2414L1.94563 17.7436C0.621802 16.5006 0.621802 14.6361 1.94563 13.3931L14.191 1.89527C15.5149 0.652261 17.1696 0.0307617 18.8244 0.0307617H62.5107C64.4964 0.0307617 65.8203 1.27377 65.8203 3.13828V27.9984C65.8203 29.8629 64.4964 31.1059 62.5107 31.1059Z"/>
            </svg>
            <svg th:if="${hoatdong.getTinhTrangHD()==2}" viewBox="0 0 73 31"  class="frame3">
              <path d="M62.5107 31.1059H18.8244C17.1696 31.1059 15.5149 30.4844 14.191 29.2414L1.94563 17.7436C0.621802 16.5006 0.621802 14.6361 1.94563 13.3931L14.191 1.89527C15.5149 0.652261 17.1696 0.0307617 18.8244 0.0307617H62.5107C64.4964 0.0307617 65.8203 1.27377 65.8203 3.13828V27.9984C65.8203 29.8629 64.4964 31.1059 62.5107 31.1059Z"/>
            </svg>
          </div>
          <div class="frame1-text">Chưa diễn ra</div>
          <div class="frame2-text">Đang diễn ra</div>
          <div th:if="${hoatdong.getTinhTrangHD()!=2}" class="frame3-text color_black-light">Đã diễn ra</div>
          <div th:if="${hoatdong.getTinhTrangHD()==2}" class="frame3-text">Đã diễn ra</div>
        </div>

      </div>
      <div class="notification-container">
      <button th:if="${hoatdong.getTinhTrangHD() == 0} and ${hoatdong.getTinhTrangDuyet() == 1} and ${checkDangky==null}"
              type="button"
              class="btn-Join" id="thamgiaButton" th:attr="data-account-id=${account.id}"
              >Tham gia</button>
     </button>
        <div id="notification" class="notification">
          <p>Vui lòng đăng nhập với username và password của bạn hoặc đăng ký tại Hopefully</p>
          <button id="login">Đăng nhập</button>
          <button id="cancel">Hủy</button>
        </div>
      </div>
      <button th:if="${hoatdong.getTinhTrangHD() == 0} and ${hoatdong.getTinhTrangDuyet() == 1} and ${checkDangky != null} and ${checkDangky.getTrangThai()==false}"
              type="button"
              class="btn-Join" id="thamgiaButton1">Chờ xét duyệt</button>
      <button th:if="${hoatdong.getTinhTrangHD() == 0} and ${hoatdong.getTinhTrangDuyet() == 1} and ${checkDangky != null} and ${checkDangky.getTrangThai()==true} and ${checkDangky.getPhanQuyen()==false}"
              type="button"
              class="btn-Join" id="thamgiaButton2">Đã xét duyệt</button>
      <button th:if="${hoatdong.getTinhTrangHD() == 0} and ${hoatdong.getTinhTrangDuyet() == 1} and ${checkDangky != null} and ${checkDangky.getTrangThai()==true} and ${checkDangky.getPhanQuyen()==true}"
              type="button"
              class="btn-Join" id="thamgiaButton3" style="display: none">Đã xét duyệt</button>

              <div class="modal fade" id="joinModal" tabindex="-1" role="dialog" aria-labelledby="joinconfirmModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="joinconfirmModalLabel">Bạn có muốn tham gia</h5>
                      <button type="button" class="closeModalLogout" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body"  id="modalBodyContent">
                      Bạn có chắc chắn muốn tham gia ?
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-danger"  id="btnJoin"   th:attr="data-hoatdong-id=${hoatdong.id}, data-account-id=${account.id}" >Tham gia</button>
                      <button type="button" class="close closeModalLogout btn btn-secondary" data-dismiss="modal" >Hủy</button>
                    </div>
                  </div>
                </div>
              </div>
      <button th:if="${hoatdong.getTinhTrangHD() == 1}"
              type="button"
              class="btn-Join"
              style="display: none">Tham gia</button>

      <button th:if="${hoatdong.getTinhTrangHD() == 2}"
              type="button"
              class="btn-KetThuc" ><a class="btn-summary" id="btnSummary"  th:attr="data-hoatdong-id=${hoatdong.id}" >Tổng kết</a></button>


      <div class="modal fade" id="noSummaryModal" tabindex="-1" role="dialog" aria-labelledby="joinconfirmModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmModalLabel">Thông báo</h5>
              <button type="button" class="closeModalLogout" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body"  id="modalBodyContentNoti">
               Hoạt động này chưa có tổng kết
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
<div class="container-fluid content_session2">
  <h2 class="content_detail_title">NỘI DUNG</h2>
  <!-- <span class="content_detail_title">NỘI DUNG</span> -->
  <div class="row bg-green-light" >
    <div class="col-md-8">
      <div class="content_detail_body ">
        <div class="text-content" th:text="${hoatdong.getMoTa()}">
        </div>

      </div>
    </div>
    <div class="col-md-4 group_member_main" >
      <div class="group_member">
        <h3 class="group_member-organize">NHÀ TỔ CHỨC</h3>
        <h6 class="name-organize" th:text="${thanhvien.getHoTen()}"></h6>
        <img th:src="@{${thanhvien.getMaTK().getAnhDaiDien()}}"  alt="" class="images-organize">
        <hr class="dash_organize"  />
        <h3 class="group_member-parti">THÀNH VIÊN</h3>
        <div class="group_member-list">
          <div class="member" th:each="thanhvien: ${thanhvienList}">

            <img class="member-ava" th:src="@{${thanhvien.getMaTK().getAnhDaiDien()}}" alt="">
            <span class="member-name" th:text="${thanhvien.getHoTen()}"></span>
          </div>
        </div>
        <h6 class="member_more" data-bs-toggle="modal" data-bs-target="#MemberModal">XEM THÊM</h6>
      </div>
      <div class="group_member-plus"></div>
    </div>
  </div>
</div>
<!-- Thông tin thêm về địa điểm -->
<div class="container p-5 " >
  <div class="col-md-8 ">
    <hr>
    <h2 class="content_plus_title">ĐỊA ĐIỂM TỔ CHỨC</h2>
    <div class="plus_detail"><i class="bi bi-geo-alt-fill"></i><span> Địa điểm: </span><span class="plus_detail_address" th:text="${hoatdong.getDiaDiem()}"></span></div>
    <br>
    <h2 class="content_plus_title">THỜI GIAN</h2>
    <div class="plus_detail"><i class="bi bi-calendar3-week"></i><span> Thời gian: </span><span class="plus_detail_date"  th:text="${#temporals.format(hoatdong.getThoiGianBD(), 'dd/MM/yyyy')} + ' - ' + ${#temporals.format(hoatdong.getThoiGianKT(), 'dd/MM/yyyy')}"></span></div>
    <br>
    <h2 class="content_plus_title">SỐ TÌNH NGUYỆN VIÊN</h2>
    <div class="plus_detail"><i class="bi bi-people-fill"></i><span> Số tình nguyện viên: </span><span class="plus_detail_date" th:text="${hoatdong.getSoTNVToiDa()}"></span></div>
  </div>
</div>
<div class="modal fade" id="MemberModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-member-member">
    <div class="modal-content modal-content-member">
      <div class="modal-header modal-header-member">
        <h5 class="modal-title modal-title-member" id="exampleModalLabel">TÌNH NGUYỆN VIÊN</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body modal-body-member">
        <div class="modal-member"  th:each="thanhvien : ${thanhvienList}">
           <span>
             <img class="modal-member-ava" src="../static/images/ava1.jpg" alt="">
             <span class="modal-member-name" th:text="${thanhvien.getHoTen()}"></span>
          </span>
          <span class="modal-member-rate">
            <i class="rate-detail" >5</i>
            <i class="bi bi-star-fill icon-star"></i>
          </span>
        </div>
        </div>
      </div>
    </div>
  </div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>

</html>