<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm hoạt động</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
</head>

<body>
<!-- Đăng nhập -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#DangNhapModal">
    Đăng nhập
</button>

<div class="modal fade" id="DangNhapModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-dangnhap">
        <div class="modal-content modal-content-dangnhap">
            <div class="modal-header modal-header-dangnhap">
                <button type="button" class="btn-close btnClose" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body modal-body-dangnhap">
                <div class="header_login">
                    <p id="title-top">ĐĂNG NHẬP</p>
                </div>
                <div class="body_login">
                    <div class="body_login-content">
                        <input id="username" type="text" placeholder="    Tên đăng nhập" required><br>

                    </div>
                    <div class="body_login-content">
                        <input id="password" type="password" placeholder="    Mật khẩu" required><br>
                    </div>
                    <input type="button" name="btn1" id="btnLogin" value="ĐĂNG NHẬP">
                    <div class="footer_login-status">
                        <span id="status_reme">Ghi nhớ mật khẩu</span>
                        <span id="status_forget">Quên mật khẩu?</span>
                    </div>
                    <div class="footer_login-another">
                        <span class="login_or">HOẶC</span>
                        <div class="login_another">
                            <img th:src="@{/images/fb.png}" alt="">
                            <img th:src="@{/images/gg.png}" alt="">
                        </div>
                    </div>
                    <div class="regis">
                        <span class="regis-not">Bạn chưa có tài khoản?</span><span class="regis-done">Đăng ký</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script defer th:src="@{/js/ThemHoatDong.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

</body>

</html>