<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css "/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}">
    <script defer th:src="@{/js/header.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script defer th:src="@{/js/base.js}"></script>
    <script defer th:src="@{/js/DeXuat.js}"></script>
</head>

<body>
<div id="iframe-container" class="sticky-top" style="top: -87px">
</div>
<div class="container p-5">
    <!-- Search -->
    <div class="fs-6 p-1 border-search width-25rem m-5 position-relative">
        <i class="bi bi-search p-2 grey-color"></i>
        <input type="text" class="border-0 grey-color p-md-1 no-outline w-85 search-input"
               placeholder="Tìm kiếm hoạt động" />
        <!-- Infor search -->
        <div class="container position-abs box-shadow z-index-1 bg-white p-2 radius-1 search-info no-display">
            <h2 class="fs-6 pb-1 p-1">Tìm kiếm gần đây</h2>
            <div class="container overflow-auto max_height-20rem">
                <div class="container d-flex align-items-center mb--1 p-0 btn btn-group search-info-item">
                    <img class="w-3 h-2_5 flex-1" th:src="@{/images/anh2.jpg}" alt="" />
                    <p class="m-1 fs-7 ml--3 flex-16">Mang con chữ đến trẻ vùng cao</p>
                    <i class="flex-1 btn btn-close p-0 fs-7"></i>
                </div>

                <div class="container d-flex align-items-center mb--1 p-0 btn btn-group search-info-item">
                    <img class="w-3 h-2_5 flex-1" th:src="@{/images/anh2.jpg}" alt="" />
                    <p class="m-1 fs-7 ml--3 flex-16">Mang con chữ đến trẻ vùng cao</p>
                    <i class="flex-1 btn btn-close p-0 fs-7"></i>
                </div>

                <div class="container d-flex align-items-center mb--1 p-0 btn btn-group search-info-item">
                    <img class="w-3 h-2_5 flex-1" th:src="@{/images/anh1.jpg}" alt="" />
                    <p class="m-1 fs-7 ml--3 flex-16">Mang con chữ đến trẻ vùng cao</p>
                    <i class="flex-1 btn btn-close p-0 fs-7"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="fs-9 display-flex" th:each="suggestion,index: ${suggestionList}">
        <div class="container px-5">
            <div class="container d-flex align-items-center p-3 border_bottom-solid">
                <div class="container flex-5">
                    <h3 class="green-color fs-4" th:text="${suggestion.getChuDe()}"></h3>
                    <p class="mb-0 fs-6" th:text="${suggestion.getMoTa()}"></p>
                    <p class="fs-7 fst-italic my-1"><i class="bi bi-geo-alt-fill green px-1" th:text="${suggestion.getViTri()}"></i></p>
                </div>
            </div>
        </div>
            <!-- icon -->
            <div class="container d-flex flex-1 justify-content-end align-items-center">
<!--                <p class="pt-1_2 px-1 fw-bold green-color">5</p>-->
                <i class="bi bi-calendar4-week position-relative mb-1 h-1 green-color calendar cursor-pointer me-4">
                    <p class="bg-green position-absolute b-100  grey_dark-color fw-medium p-0 m-0 w-10rem text-center radius-1 fs-7 notice-calendar no-display"
                       th:text="${countSugg[index.index] + ' lượt đề xuất'}">
                    </p>
                </i>
                <i class="bi bi-broadcast-pin position-relative mb-1 h-1 green-color broadcast me-4 cursor-pointer">
                    <p class="bg-green position-absolute b-100  grey_dark-color fw-medium p-0 m-0 w-10rem text-center radius-1 fs-7 notice-broadcast no-display">
                        Tổ chức tại đây</p>
                </i>
            </div>
        </div>
    </div>
    <button class="btn bg-btn white-color px-4 mt-5 float-end btn-add-suggest mb-5"><i class="bi bi-plus-square me-2"></i>Thêm đề xuất</button>
<!-- Modal -->
<div class="modal_ box-shadow no-display">
    <div class="modal__overlay">

    </div>
    <div class="modal__body w-40">
        <form action="" class="was-validated">
            <div class="container d-flex align-items-center justify-content-between p-1">
                <h3 class="fs-4 green-color fw-bold p-2 ml-0_9 text-center">ĐỀ XUẤT VỊ TRÍ TÌNH NGUYỆN</h3>
                <div class="btn btn-close no-outline p-1 mb-2 me-3 btn-close-suggest"></div>
            </div>
            <div class="container p-3">
                <div class="container">
                    <div class="container d-flex align-items-center green-color">
                        <h5 class="flex-1 fs-5"><i class="bi bi-pencil-square"></i> CHỦ ĐỀ</h5>
                        <input class="form-control flex-5 w-90 radius-half no-outline" type="text" required>
                    </div>
                </div>
                <h5 class="mb-1 py-3 ml-1_4 green-color"><i class="bi bi-geo-alt-fill"></i> ĐỊA ĐIỂM</h5>
                <div class="container px-3 align-items-center green-color">
                    <div class="container">
                        <div class="container d-flex mb-3 align-items-center">
                            <h5 class="flex-1 fs-7">Thôn -Phường</h5>
                            <input class="form-control w-75 radius-half no-outline" type="text" required>
                        </div>
                    </div>
                    <div class="container">
                        <div class="container d-flex mb-4 align-items-center">
                            <h5 class="flex-1 fs-7">Quận - Huyện</h5>
                            <input class="form-control w-75 radius-half no-outline" type="text" required>
                        </div>
                    </div>
                    <div class="container">
                        <div class="container d-flex mb-4 align-items-center">
                            <h5 class="flex-1 fs-7">Tỉnh - Thành Phố</h5>
                            <input class="form-control w-75 radius-half no-outline" type="text" required>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="container d-flex mb-4 gree">
                        <h5 class="flex-1 green-color"><i class="bi bi-list"></i> MÔ TẢ</h5>
                        <textarea class="flex-5 w-90 radius-half" name="" id="" cols="30" rows="8   "></textarea>
                    </div>
                </div>
                <div class="container d-flex justify-content-center p-3 ml-3">
                    <button  type="submit" class="btn bg-btn white-color me-3 px-4"><i class="bi bi-chat-left-text me-2"></i> Đề xuất</button>
                    <button class="btn bg-btn white-color px-4 ml-3"><i class="bi bi-x-square me-2"></i> Hủy</button>
                </div>
            </div>
    </form>
</div>
    </div>
</body>
</html>
