<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">


    <link rel="stylesheet" type="text/css" th:href="@{/css/base2.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/Header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<!--    <link rel="stylesheet" type="text/css" th:href="@{/js/Header.js}">-->
</head>
<body>
<div  th:fragment="headerFragment">

    <div class="header__navlogo row" style="position: relative;">
        <div col>
            <label class="logo">
                HOPEFULLY
                <!--            <h2 th:text="${user.getHoTen()}"></h2>-->
            </label>
        </div>
<!--        <div class="personal">-->
<!--        </div>-->
        <!-- Đăng nhập -->
        <!--    <button type="button" id="btnLoginModal" class="btn btnDangNhap float-end"  >-->
        <!--        Đăng nhập-->
        <!--    </button>-->
       <div>
           <button type="button" id="btnLoginModal" class="btn btnDangNhap float-end" data-bs-toggle="modal" data-bs-target="#DangNhapModal"  th:href="@{/login}" th:if="${isLogin == false}">
               <!--            <button type="button" id="btnLoginModal" class="btn btnDangNhap float-end" data-bs-toggle="modal" data-bs-target="#DangNhapModal" th:href="@{/login}">-->
               Đăng nhập
           </button>
       </div>
<!--        <div id="userProfile" class="float-end"> &lt;!&ndash; Hiển thị khi đã đăng nhập &ndash;&gt;-->
            <!-- Thông tin người dùng và các chức năng khác -->
        <div class="dropdown dropstart user-profile col">
            <button id="btnLogout" th:href="@{/logout}" class="float-end" th:if="${isLogin}"><i class="bi bi-box-arrow-right"></i></button>
            <button id="btn_userProfile" class="float-end" data-bs-toggle="dropdown"><img class="img-avartar-login" th:src="@{/images/avatar.png}" alt="ảnh đại diện" th:if="${isLogin}"
            ></button>
            <ul class="p-3 dropdown-menu">
              <div>
                  <img class="img-avatar-small" th:src="@{/images/avatar.png}" alt="">
                  <label class="user-name" th:text="${user.getHoTen()}"></label>
              </div>
                <li><a class="dropdown-item" th:href="@{/trang-ca-nhan}">Cập nhật thông tin cá nhân</a></li>
                <li><a class="dropdown-item" href="#">Thay đổi mật khẩu</a></li>
                <li><a class="dropdown-item" href="#">Link 3</a></li>
            </ul>

        </div>

<!--        </div>-->


        <!-- Thêm log cho biểu thức -->

<!--        <div th:if="${#session.getAttribute('account') != null}">-->
<!--            &lt;!&ndash; Nội dung cho trường hợp đã đăng nhập &ndash;&gt;-->
<!--            <button id="btn_userProfile" class="float-end" style="display: none"><img class="img-avartar-login" th:src="@{/images/avatar.png}" alt="ảnh đại diện"></button>-->
<!--        </div>-->
<!--        <div th:unless="${#session.getAttribute('account') != null}">-->
<!--            &lt;!&ndash; Nội dung cho trường hợp chưa đăng nhập &ndash;&gt;-->
<!--            <button type="button" id="btnLoginModal" class="btn btnDangNhap float-end" data-bs-toggle="modal" data-bs-target="#DangNhapModal"  th:href="@{/login}">-->
<!--                Đăng nhập-->
<!--            </button>-->
<!--        </div>-->


        <div class="modal fade" id="DangNhapModal" tabindex="-1" aria-labelledby="modalLogin" aria-hidden="true">
            <div class="modal-dialog modal-dialog-dangnhap">
                <div class="modal-content modal-content-dangnhap">
                    <div class="modal-header modal-header-dangnhap">
                        <button type="button" class="btn-close btnClose" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>

                    <form id="formLogin" class="modal-body modal-body-dangnhap was-validated" th:action="@{/check-login}" method="post" th:object="${account}">
                        <div class="header_login">
                            <p id="title-top">ĐĂNG NHẬP</p>
                        </div>
                        <div class="body_login">
                            <div class="body_login-content">
                                <input class="body_login_input" id="username" type="text" placeholder="    Tên đăng nhập" th:field="*{tenDN}" required>
                                <button class="btndelete_input" type="button" onclick="clearInput('username')">
                                    <i class="bi bi-x delete_input"></i>
                                </button>
                            </div>
                            <div class="body_login-content">
                                <input class="body_login_input" id="password" type="password" placeholder="    Mật khẩu" th:field="*{matKhau}" required minlength="6" maxlength="20">
                                <button class="btndelete_input" type="button" onclick="clearInput('password')">
                                    <i class="bi bi-x delete_input"></i>
                                </button>
                            </div>

                            <div class="showPass">
                                <input class="form-check-input" type="checkbox" name="checkShowPass" id="checkShowPass"> Hiện mật khẩu

                            </div>
                            <!-- Hiển thị thông báo lỗi nếu có -->
                            <div id="error-message">
<!--                                <p class="notify-error"></p>-->
                            </div>
                            <input type="submit" name="btn1" id="btnLogin" value="ĐĂNG NHẬP" >
                            <div class="footer_login-status">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="remember"> Ghi nhớ mật khẩu
                                </label>
                                <span id="status_forget">Quên mật khẩu?</span>
                            </div>
                            <div class="footer_login-another">
                                <span class="login_or">HOẶC</span>
                                <div class="login_another">
                                    <img th:src="@{/images/fb.png}" alt="">
                                    <img th:src="@{/images/gg.png}" alt="">
                                </div>
                            </div>
                            <div class="regis">
                                <span class="regis-not">Bạn chưa có tài khoản?</span><span class="regis-done">Đăng ký</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-sm header__navbar sticky-top z-1">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/trang-chu">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/trang-chu-hoat-dong">Hoạt động</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/trang-chu-danh-gia">Đánh giá</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/trang-chu-tong-ket">Tổng kết</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Xét duyệt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/de-xuat">Đề xuất</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Liên hệ</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>