<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/base2.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/Header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
<!--    <link rel="stylesheet" type="text/css" th:href="@{/js/Header.js}">-->
</head>
<body>
<div  th:fragment="headerFragment">

    <div class="header__navlogo" style="position: relative;">
        <div class="logo">
            HOPEFULLY
        </div>
        <div class="personal">
        </div>
        <!-- Đăng nhập -->
        <!--    <button type="button" id="btnLoginModal" class="btn btnDangNhap float-end"  >-->
        <!--        Đăng nhập-->
        <!--    </button>-->
        <button type="button" id="btnLoginModal" class="btn btnDangNhap float-end" data-bs-toggle="modal" data-bs-target="#DangNhapModal"  th:href="@{/login}">
<!--            <button type="button" id="btnLoginModal" class="btn btnDangNhap float-end" data-bs-toggle="modal" data-bs-target="#DangNhapModal" th:href="@{/login}">-->
            Đăng nhập
        </button>
<!--        <div id="userProfile" class="float-end"> &lt;!&ndash; Hiển thị khi đã đăng nhập &ndash;&gt;-->
            <!-- Thông tin người dùng và các chức năng khác -->
        <button id="btn_userProfile" class="float-end" style="display: none"><img class="img-avartar-login" th:src="@{/images/avatar.png}" alt="ảnh đại diện"></button>
<!--        </div>-->

        <div class="modal fade" id="DangNhapModal" tabindex="-1" aria-labelledby="modalLogin" aria-hidden="true">
            <div class="modal-dialog modal-dialog-dangnhap">
                <div class="modal-content modal-content-dangnhap">
                    <div class="modal-header modal-header-dangnhap">
                        <button type="button" class="btn-close btnClose" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>

<!--                    <form id="formLogin" class="modal-body modal-body-dangnhap was-validated" th:action="@{/check-login}" method="post" th:object="${account}">-->
<!--                        <div class="header_login">-->
<!--                            <p id="title-top">ĐĂNG NHẬP</p>-->
<!--                        </div>-->
<!--                        <div class="body_login">-->
<!--                            <div class="body_login-content">-->
<!--                                <input class="body_login_input" id="username" type="text" placeholder="    Tên đăng nhập" th:field="*{tenDN}" required>-->
<!--                                <button class="btndelete_input"  type="reset"><i class="bi bi-x delete_input"></i></button>-->
<!--                            </div>-->
<!--                            <div class="body_login-content">-->
<!--                                <input class="body_login_input" id="password" type="password" placeholder="    Mật khẩu" th:field="*{matKhau}" required minlength="6" maxlength="20">-->
<!--                                <button class="btndelete_input" type="reset"><i class="bi bi-x delete_input"></i></button>-->
<!--                            </div>-->
<!--                            <div class="showPass">-->
<!--                                <input type="checkbox" name="checkShowPass" id="checkShowPass">Hiện mật khẩu-->
<!--                            </div>-->
<!--                            &lt;!&ndash; Hiển thị thông báo lỗi nếu có &ndash;&gt;-->
<!--                            <div id="error-message" th:if="${error}" class="alert alert-danger">-->
<!--                                <p class="notify-error" th:text="${error}"></p>-->
<!--                            </div>-->
<!--                            <input type="submit" name="btn1" id="btnLogin" value="ĐĂNG NHẬP" >-->
<!--                            <div class="footer_login-status">-->
<!--                                <span id="status_reme">Ghi nhớ mật khẩu</span>-->
<!--                                <span id="status_forget">Quên mật khẩu?</span>-->
<!--                            </div>-->
<!--                            <div class="footer_login-another">-->
<!--                                <span class="login_or">HOẶC</span>-->
<!--                                <div class="login_another">-->
<!--                                    <img th:src="@{/images/fb.png}" alt="">-->
<!--                                    <img th:src="@{/images/gg.png}" alt="">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="regis">-->
<!--                                <span class="regis-not">Bạn chưa có tài khoản?</span><span class="regis-done">Đăng ký</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </form>-->
                    <form id="formLogin" class="modal-body modal-body-dangnhap was-validated" th:action="@{/check-login}" method="post" th:object="${account}">
                        <div class="header_login">
                            <p id="title-top">ĐĂNG NHẬP</p>
                        </div>
                        <div class="body_login">
                            <div class="body_login-content">
                                <input class="body_login_input" id="username" type="text" placeholder="    Tên đăng nhập" th:field="*{tenDN}" required>
                                <button class="btndelete_input"  type="reset"><i class="bi bi-x delete_input"></i></button>
                            </div>
                            <div class="body_login-content">
                                <input class="body_login_input" id="password" type="password" placeholder="    Mật khẩu" th:field="*{matKhau}" required minlength="6" maxlength="20">
                                <button class="btndelete_input" type="reset"><i class="bi bi-x delete_input"></i></button>
                            </div>
                            <div class="showPass">
                                <input type="checkbox" name="checkShowPass" id="checkShowPass">Hiện mật khẩu
                            </div>
                            <!-- Hiển thị thông báo lỗi nếu có -->
                            <div id="error-message" class="alert alert-danger">
                                <p class="notify-error"></p>
                            </div>
                            <input type="submit" name="btn1" id="btnLogin" value="ĐĂNG NHẬP" >
                            <div class="footer_login-status">
                                <span id="status_reme">Ghi nhớ mật khẩu</span>
                                <span id="status_forget">Quên mật khẩu?</span>
                            </div>
                            <div class="footer_login-another">
                                <span class="login_or">HOẶC</span>
                                <div class="login_another">
                                    <img th:src="@{/images/fb.png}" alt="">
                                    <img th:src="@{/images/gg.png}" alt="">
                                </div>
                            </div>
                            <div class="regis">
                                <span class="regis-not">Bạn chưa có tài khoản?</span><span class="regis-done">Đăng ký</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-sm header__navbar sticky-top z-1">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/trang-chu">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/trang-chu-hoat-dong">Hoạt động</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/trang-chu-danh-gia">Đánh giá</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/trang-chu-tong-ket">Tổng kết</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Xét duyệt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/de-xuat">Đề xuất</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Liên hệ</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>