<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">


    <link rel="stylesheet" type="text/css" th:href="@{/css/base2.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/Header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<!--    <link rel="stylesheet" type="text/css" th:href="@{/js/Header.js}">-->
</head>
<body>
<div  th:fragment="headerFragment">

    <div class="header__navlogo row" style="position: relative;">
        <div col>
<!--            <img class="logo-header" th:src="@{images/logo_header.png}">-->
            <label class="logo">
                HOPEFULLY
                <!--            <h2 th:text="${user.getHoTen()}"></h2>-->
            </label>
        </div>
<!--        <div class="personal">-->
<!--        </div>-->
        <!-- Đăng nhập -->
        <!--    <button type="button" id="btnLoginModal" class="btn btnDangNhap float-end"  >-->
        <!--        Đăng nhập-->
        <!--    </button>-->
       <div>
           <button type="button" id="btnLoginModal" class="btn btnDangNhap float-end" data-bs-toggle="modal" data-bs-target="#DangNhapModal"  th:href="@{/login}" th:if="${isLogin == false}">
               <!--            <button type="button" id="btnLoginModal" class="btn btnDangNhap float-end" data-bs-toggle="modal" data-bs-target="#DangNhapModal" th:href="@{/login}">-->
               Đăng nhập
           </button>
       </div>
            <!-- Thông tin người dùng và các chức năng khác -->
        <div class="dropdown dropstart user-profile col" th:if="${isLogin}">
            <button id="btnLogout"  class="float-end"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Đăng xuất"><i class="bi bi-box-arrow-right"></i></button>
            <!-- Modal Thông báo -->
            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="logoutModalLabel">Xác nhận đăng xuất</h5>
                            <button type="button" class="closeModalLogout" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Bạn có chắc chắn muốn đăng xuất không?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="close closeModalLogout btn btn-secondary" data-bs-dismiss="modal" >Hủy</button>
                            <button type="submit" class="btn btn-danger" id="confirmLogout" >Đồng ý</button>
                        </div>
                    </div>
                </div>
            </div>

            <button id="btn_userProfile" class="float-end" data-bs-toggle="dropdown"  aria-haspopup="true" aria-expanded="false"  >
                <img data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tài khoản" class="img-avartar-login" th:src="@{${user.getMaTK().getAnhDaiDien()}}" alt="ảnh đại diện" >
            </button>
            <ul class="p-3 dropdown-menu">
              <div>
                  <img class="img-avatar-small" th:src="@{${user.getMaTK().getAnhDaiDien()}}" alt="">
                  <label class="user-name" th:text="${user.getHoTen()}"></label>
              </div>
                <li><a class="dropdown-item" th:href="@{/trang-ca-nhan(id=${account.getId()})}">Xem trang cá nhân</a></li>
                <li>
<!--                    <button data-bs-toggle="modal" data-bs-target="#ChangePasswordModal"><a class="dropdown-item"  href="#">Thay đổi mật khẩu</a>-->
                   <a class="dropdown-item"  href="#">Thay đổi mật khẩu</a>
               </li>
                <li><a class="dropdown-item" href="#">Cài đặt</a></li>
            </ul>

        </div>

<!--        </div>-->


        <!-- Thêm log cho biểu thức -->

<!--        <div th:if="${#session.getAttribute('account') != null}">-->
<!--            &lt;!&ndash; Nội dung cho trường hợp đã đăng nhập &ndash;&gt;-->
<!--            <button id="btn_userProfile" class="float-end" style="display: none"><img class="img-avartar-login" th:src="@{/images/avatar.png}" alt="ảnh đại diện"></button>-->
<!--        </div>-->
<!--        <div th:unless="${#session.getAttribute('account') != null}">-->
<!--            &lt;!&ndash; Nội dung cho trường hợp chưa đăng nhập &ndash;&gt;-->
<!--            <button type="button" id="btnLoginModal" class="btn btnDangNhap float-end" data-bs-toggle="modal" data-bs-target="#DangNhapModal"  th:href="@{/login}">-->
<!--                Đăng nhập-->
<!--            </button>-->
<!--        </div>-->



    </div>
    <nav class="navbar navbar-expand-sm header__navbar sticky-top z-1">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/trang-chu}">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/trang-chu-hoat-dong}">Hoạt động</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/trang-chu-danh-gia}">Đánh giá</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/trang-chu-tong-ket}">Tổng kết</a>
                </li>
                <li class="nav-item" th:if="${isLogin}">
                    <a class="nav-link" th:href="@{xet-duyet}">Xét duyệt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/de-xuat}">Đề xuất</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Liên hệ</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<!-----------Model đăng ký tài khoản-------------->

    <div class="modal fade modal-login"  id="modal-sign-up">
        <div class="modal-dialog">
            <div class="modal-content content-sign-up">
                <form action="/dang-ky-tai-khoan" th:object="${user}" id="formRegisterAccount" method="post" class="modal-body d-flex p-0">
<!--                <div class="modal-body d-flex p-0">-->
<!--                    <img class="w-30 h-100" th:src="@{/images/nen_login.png}" alt="">-->
<!--                    <div class="w-75 sign-up-info  py-2">-->
                    <div >
                        <div class="d-flex header-sign-up text_align-center p-0 mt-1">
                            <h3 class="col-11 fs-3 mb-4 green-color mx-2">ĐĂNG KÝ</h3>
                            <button type="button" class="btn-close btn-close-register btnClose" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="container p-2">
                            <!--   Chỗ ảnh đại diện nì   -->
                            <!--                    <label class="col-3 text_align-center">Ảnh đại diện</label>-->
                            <div class="container d-flex mb-3">
                                <label class="col-4">Tên đăng nhập</label>
                                <input class="form-control form-control-sm me-4" required type="text" name="tenDN">
                            </div>
                            <div class="container d-flex mb-3">
                                <label class="col-4">Mật khẩu</label>
                                <input class="form-control form-control-sm me-4" required type="text" name="matKhau">
                            </div>
                            <div class="container d-flex mb-3">
                                <label class="col-4">Họ và tên</label>
                                <input class="form-control form-control-sm me-4" required type="text" name="hoTen">
                            </div>
                            <div class="container d-flex mb-3">
                                <label class="col-4">Ngày sinh</label>
                                <input class="form-control form-control-sm me-4" required type="date" name="ngaySinh">
                            </div>
                            <div class="container d-flex mb-3">
                                <label class="form-label">Giới tính:</label>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input form-check-gender" id="radio1" name="gioiTinh" value="0" required >
                                    <label class="form-check-label" for="radio1">Nam</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input form-check-gender" id="radio2" name="gioiTinh" value="1" required >
                                    <label class="form-check-label" for="radio2">Nữ</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input form-check-gender" id="radio3" name="gioiTinh" value="2" required>
                                    <label class="form-check-label" for="radio3">Khác</label>
                                </div>
                            </div>
                            <div class="container d-flex mb-4">
                                <label class="col-4">Địa chỉ</label>
                                <input class="form-control form-control-sm me-4" required type="text" name="diaChi">
                            </div>
                            <div class="container d-flex mb-4">
                                <label class="col-4">Số điện thoại</label>
                                <input class="form-control form-control-sm me-4" required type="tel" pattern="[0-9]{10}" title="Vui lòng nhập 10 số" name="soDienThoai">
                            </div>
                            <div class="container d-flex mb-4">
                                <label class="col-4">Email</label>
                                <input class="form-control form-control-sm me-4" required type="email" name="email">
                            </div>
                            <div class="button mt-4 d-flex btn-footer-modal">
<!--                                <span class="col-3"></span>-->
                                <button class="py-2 radius-half white-color no-border col-3 mx-5 btn-signup" type="submit">Đăng ký</button>
                                <button class="py-2 radius-half white-color no-border col-3 btn-cancel" type="button" onclick="reset()">Hủy</button>
                            </div>
                        </div>
                    </div>
<!--                </div>-->
                </form>
            </div>
        </div>
    </div>
<!--modla thêm hoạt động-->
<div class="modal fade" id="ThemHoatDongModal" tabindex="-1" aria-labelledby="addActivityModalLabel" aria-hidden="true" th:if="${isLogin}">
    <div class="modal-dialog modal-lg modal-dialog-themhd">
        <div class="modal-content modal-content-themhd">
            <form  th:action="@{/addActivity}" method="POST" class="needs-validation" id="formAddActivity" novalidate enctype="multipart/form-data">
                <input type="hidden" id="userID" name="maTK" th:value="${account.getId()}" />
                <div class="modal-header  modal-header-themhd ">
                    <h5 class="modal-title modal-title-themhd " id="exampleModalLabel" >THÊM HOẠT ĐỘNG</h5>
                    <button type="button" class="btn-close btnClose" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-body-themhd">
                    <div class="container modal-body-detail">

                        <div class="row">
                            <div class="col-md-3"><label class="lbHD" for="txt_NameTopic"><i class="bi bi-pencil-square"></i>CHỦ
                                ĐỀ</label></div>
                            <div class="col-md-9">
                                <select class="select-chu-de" id="txt_NameTopic" name="tenChuDe">
                                    <option th:each="topic:${listTopics}" th:text="${topic.getTenChuDe()}" ></option>
                                    <option> Khác</option>
                                </select>
                            </div>
                            <!--                            <div class="col-md-9"><input class="textfieldHD form-control" type="text" name="txt_NameTopic"-->
                            <!--                                                         id="txt_NameTopic"  th:field="*{maChuDe.tenChuDe}" required></div>-->
                            <div class="invalid-feedback">Vui lòng nhập tên chủ đề</div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3"><label class="lbHD" for="txt_NameActi"><i class="bi bi-fire"></i>TÊN HOẠT
                                ĐỘNG</label></div>
                            <div class="col-md-9"> <input class="textfieldHD form-control" type="text" name="tenhd"
                                                          id="txt_NameActi" required></div>
                            <div class="invalid-feedback">Vui lòng nhập tên hoạt động</div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3"> <label class="lbHD" for="txt_Location"><i class="bi bi-geo-alt-fill"></i>ĐỊA
                                ĐIỂM</label></div>
                            <div class="col-md-9"><input class="textfieldHD form-control" type="text" name="diaDiem"
                                                         id="txt_Location"  required></div>
                            <div class="invalid-feedback">Vui lòng nhập địa điểm</div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="lbHD" for="txt_dateBD"><i class="bi bi-calendar-minus"></i>THỜI GIAN BẮT ĐẦU</label>
                            </div>
                            <div class="col-md-3"><input class="txt-tnv form-control" type="date" name="thoiGianBD" id="txt_dateBD"

                                                         required></div>
                            <div class="invalid-feedback">Vui lòng chọn thời gian bắt đầu</div>
                            <div class="col-md-3">
                                <label class="lbHD" for="txt_dateKT"><i class="bi bi-calendar-minus"></i>THỜI GIAN KẾT THÚC</label>
                            </div>
                            <div class="col-md-3"><input class="txt-tnv form-control" type="date" name="thoiGianKT" id="txt_dateKT"

                                                         required></div>
                            <div class="invalid-feedback">Vui lòng chọn thời gian kết thúc</div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3 lbHD"><i class="bi bi-people-fill"></i>SỐ TNV TỐI THIỂU</div>
                            <div class="col-md-3"><input class="txt-tnv form-control" type="text" name="soTNVToiThieu" id="txt_tnvtt"

                                                         required></div>
                            <div class="invalid-feedback">Vui lòng nhập số tình nguyện viên tối đa</div>
                            <div class="col-md-3 lbHD"><i class="bi bi-person-dash"></i>SỐ TNV TỐI ĐA</div>
                            <div class="col-md-3"><input class="txt-tnv form-control" type="text" name="soTNVToiDa" id="txt_tnvtd"

                                                         required></div>
                            <div class="invalid-feedback">Vui lòng nhập số tình nguyện viên tối đa</div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3 lbHD"><i class="bi bi-menu-up"></i>MÔ TẢ</div>
                            <div class="col-md-9">
                                <textarea name="moTa" id="txt_mota" class="form-control" cols="71" rows="20" required></textarea>
                            </div>
                            <div class="invalid-feedback">Vui lòng nhập mô tả hoạt động</div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3 lbHD"><i class="bi bi-card-image"></i>HÌNH ẢNH</div>
                            <div class="col-md-9">
                                <label for="imageInput" id="imagePreviewLabel">
                                    <div id="imagePreview" class="image-preview">
                                        <input type="file" name="anh" id="imageInput" accept="image/jpeg, image/png, image/gif" style="display: none" required>
                                        <img id="userImage" th:src="@{/images/imgstd.png}" alt="Hình ảnh người dùng" >
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer modal-footer-themhd">
                    <button type="reset" class="btnCancel"><i class="bi bi-x-circle-fill"></i> Hủy thay đổi</button>
                    <button type="submit" class="btnSave" th:attr="data-account-id=${user.getMaTK().getId()}">
                        <i class="bi bi-floppy2"></i> Lưu thay đổi
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--modal đăng nhập-->
<div class="modal fade" id="DangNhapModal" tabindex="-1" aria-labelledby="modalLogin" aria-hidden="true">
    <div class="modal-dialog modal-dialog-dangnhap">
        <div class="modal-content modal-content-dangnhap">
            <div class="modal-header modal-header-dangnhap">
                <button type="button" class="btn-close btnClose" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>

            <!--                    <form id="formLogin" class="modal-body modal-body-dangnhap " th:action="@{/check-login}" method="post" th:object="${account}">-->
            <div class="modal-body modal-body-dangnhap ">
                <div class="header_login">
                    <p class="title-top">ĐĂNG NHẬP</p>
                </div>

                <div class="body_login">
                    <form id="formLogin" th:action="@{/check-login}" method="post" th:object="${account}">
                        <div class="body_login-content">
                            <input class="body_login_input" id="username" type="text" placeholder="    Tên đăng nhập" th:field="*{tenDN}" required>
                            <button class="btndelete_input" type="button" onclick="clearInput('username')">
                                <i class="bi bi-x delete_input"></i>
                            </button>
                        </div>
                        <div class="body_login-content">
                            <input class="body_login_input" id="password" type="password" placeholder="    Mật khẩu"  required minlength="6" maxlength="20">
                            <button class="btndelete_input" type="button" onclick="clearInput('password')">
                                <i class="bi bi-x delete_input"></i>
                            </button>
                        </div>

                        <div class="showPass">
                            <input class="form-check-input checkShowPass" type="checkbox" name="checkShowPass" id="checkShowPass"> Hiện mật khẩu

                        </div>
                        <!-- Hiển thị thông báo lỗi nếu có -->
                        <div class="error-message">
<!--                                                            <p class="notify-error"></p>-->
                        </div>
                        <input type="submit" name="btn1" id="btnLogin" value="ĐĂNG NHẬP" >
                    </form>
                    <div class="footer_login-status">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="remember"> Ghi nhớ mật khẩu
                        </label>
                        <span id="status_forget">Quên mật khẩu?</span>
                    </div>
                    <div class="footer_login-another">
                        <span class="login_or">HOẶC</span>
                        <div class="login_another">
                            <img th:src="@{/images/fb.png}" alt="">
                            <img th:src="@{/images/gg.png}" alt="">
                        </div>
                    </div>
                    <div class="regis">
                        <span class="regis-not">Bạn chưa có tài khoản?</span>
                        <input type="button" id="btn-sign-up"  value="Đăng ký" data-bs-toggle="modal" data-bs-target="#modal-sign-up">
                    </div>
                </div>
            </div>
            <!--                    </form>-->
        </div>
    </div>
</div>


<!--modal thay đổi mật khẩu-->
<!--<div class="modal fade" id="ChangePasswordModal" tabindex="-1" aria-labelledby="modalChangePassword" aria-hidden="true">-->
<!--    <div class="modal-dialog modal-dialog-changePassword">-->
<!--        <div class="modal-content modal-content-changePassword">-->
<!--            <div class="modal-header modal-header-login">-->
<!--                <button type="button" class="btn-close btnClose" data-bs-dismiss="modal"-->
<!--                        aria-label="Close"></button>-->
<!--            </div>-->
<!--            <div class="modal-body modal-body-changePassword ">-->
<!--                <div class="header_login">-->
<!--                    <p class="title-top">ĐỔI MẬT KHẨU</p>-->
<!--                </div>-->

<!--                <div class="body_changePassword">-->
<!--                    <form id="formChangePassword" th:action="@{/change-password}" method="post" th:object="${account}">-->
<!--                        <div class="body_login-content">-->
<!--                            <input class="body_login_input" name="username" type="text" placeholder="    Tên đăng nhập"    required>-->
<!--                            <button class="btndelete_input" type="button" onclick="clearInput('username')">-->
<!--                                <i class="bi bi-x delete_input"></i>-->
<!--                            </button>-->
<!--                        </div>-->
<!--                        <div class="body_login-content">-->
<!--                            <input class="body_login_input" name="password" type="password" placeholder="    Mật khẩu"  required minlength="6" maxlength="20">-->
<!--                            <button class="btndelete_input" type="button" onclick="clearInput('password')">-->
<!--                                <i class="bi bi-x delete_input"></i>-->
<!--                            </button>-->
<!--                        </div>-->

<!--                        <div class="showPass">-->
<!--                            <input class="form-check-input checkShowPass" type="checkbox" name="checkShowPass" > Hiện mật khẩu-->

<!--                        </div>-->
<!--                        &lt;!&ndash; Hiển thị thông báo lỗi nếu có &ndash;&gt;-->
<!--                        <div class="error-message">-->
<!--                            &lt;!&ndash;                                <p class="notify-error"></p>&ndash;&gt;-->
<!--                        </div>-->
<!--                        <input type="submit" name="btn1" id="btnChangePassword" value="ĐỔI MẬT KHẨU" >-->
<!--                    </form>-->
<!--                    <div class="footer_login-status">-->
<!--                        <label class="form-check-label">-->
<!--                            <input class="form-check-input" type="checkbox" name="remember"> Ghi nhớ mật khẩu-->
<!--                        </label>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->



<!--==============modal chung==================-->

</body>
</html>