<!DOCTYPE html>
        <html lang="en">

        <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tổng kết hoạt động </title>
    <link rel="stylesheet" href="assets/css/layout.css">
<!--    <link rel="stylesheet" href="assets/css/bootstrap.min.css">-->
<!--    <script src="assets/js/bootstrap.js"></script>-->
<!--    <link rel="stylesheet" href="assets/icons/bootstrap-icons.css">-->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <script src="assets/js/TongketHoatDong.js"></script>
</head>

<body>
<div class="container">
    <!-- titel hoạt động -->
    <div class="row p-5">
        <div class="col-md-8 p-8 ">
            <div class="name_detail">
                <p class="detail_title">PHÁT ĐỘNG CHIẾN DỊCH XUÂN TÌNH NGUYỆN 2023 - HÀNH TRÌNH NGÀN DẶM</p>
                <div class="date-range"> <i class="bi bi-calendar2-range"></i>1/1/2023-3/1/2023</div>
                <hr>
            </div>
        </div>
        <div class="col-md-4 detail_topic  text-center mx-auto">
            <i class="bi bi-cloud icon_cloud"></i>
            <span class="topic">TRẺ EM</span>
        </div>
    </div>

    <div class="row px-5">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <img src="assets/images/anhchitiet.jpg" alt="" class="image-left-tongket">
                </div>
                <div class="col-md-6">
                    <div class="row row-img">
                        <div class="col-6 col-img">
                            <img class="image-sub" src="assets/images/anhchitiet.jpg" alt="">
                            <img class="image-sub" src="assets/images/anhchitiet.jpg" alt="">
                        </div>
                        <div class="col-6 col-img">
                            <img class="image-sub" src="assets/images/anhchitiet.jpg" alt="">
                            <img class="image-sub" src="assets/images/anhchitiet.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 main_phase">
            <!--  Code giai đoạn và button tham gia -->
            <div class="phase_base p-2">
                <span class="phase_base_title">Trạng thái hoạt động</span>
                <div class="row">
                    <div class="col-md-2">
                        <div class="rectangle">
                            <i class="bi bi-circle-fill circle-1" style="color:var(--sliderback);"></i>
                            <i class="bi bi-circle-fill circle-2" style="color:var(--sliderback);"></i>
                            <i class="bi bi-circle-fill circle-3"></i>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <svg viewBox="0 0 73 31" class="frame1">
                            <path
                                    d="M69.4563 31H19.1359C17.3641 31 15.5922 30.38 14.1748 29.14L1.06311 17.67C-0.354369 16.43 -0.354369 14.57 1.06311 13.33L14.1748 1.86C15.5922 0.62 17.3641 0 19.1359 0H69.4563C71.5825 0 73 1.24 73 3.1V27.9C73 29.76 71.5825 31 69.4563 31Z" />
                            <text x="37" y="20" font-size="16px" font-family="sans-serif" color="white"
                                  visibility="visible" z-index = "1">Chưa diễn ra</text>
                        </svg>
                        <svg viewBox="0 0 90 31" class="frame2">
                            <path
                                    d="M90.9328 31.5087H19.1139C17.4201 31.5087 15.7262 30.8909  14.3712 29.6553L1.83674 18.2255C0.481666 16.9898 0.481666 15.1363 1.83674 13.9007L14.3712 2.47091C15.7262 1.23526 17.4201 0.617432 19.1139 0.617432H90.9328C92.9654 0.617432 94.3204 1.85308 94.3204 3.70656V28.4196C94.3204 30.2731 92.9654 31.5087 90.9328 31.5087Z" />
                        </svg>
                        <svg viewBox="0 0 73 31" class="frame3">
                            <path
                                    d="M62.5107 31.1059H18.8244C17.1696 31.1059 15.5149 30.4844 14.191 29.2414L1.94563 17.7436C0.621802 16.5006 0.621802 14.6361 1.94563 13.3931L14.191 1.89527C15.5149 0.652261 17.1696 0.0307617 18.8244 0.0307617H62.5107C64.4964 0.0307617 65.8203 1.27377 65.8203 3.13828V27.9984C65.8203 29.8629 64.4964 31.1059 62.5107 31.1059Z" />
                        </svg>
                    </div>
                    <div class="frame1-text">Chưa diễn ra</div>
                    <div class="frame2-text">Đang diễn ra</div>
                    <div class="frame3-text">Đã diễn ra</div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-8 px-5">
            <div class="tabs">
                <div class="tab-item active"> Tổng quan</div>
                <div class="tab-item"> Ảnh</div>
                <div class="tab-item">Đánh giá</div>
                <div class="line"></div>
            </div>

            <!-- Tab content -->
            <div class="tab-content">
                <div class="tab-pane active">
                    <h2 class="tongket-title">ĐỊA ĐIỂM</h2>
                    <div class="tongket-title-info"><i class="bi bi-geo-alt-fill"></i><span> Địa điểm: </span><span
                            class="plus_detail_address">Nóc Ông Súp, thôn 2, xã Trà Dơn, huyện Nam Trà My, tỉnh
                                Quảng Nam.</span></div>
                    <h2 class="tongket-title">THỜI GIAN</h2>
                    <div class="tongket-title-info"><i class="bi bi-calendar3-week"></i><span> Thời gian:
                            </span><span class="plus_detail_date">01-01-2023 - 03-01-2023</span></div>
                    <h2 class="tongket-title">TÌNH NGUYỆN VIÊN</h2>
                    <div class="tongket-title-info"><i class="bi bi-people-fill"></i><span> Số tình nguyện viên:
                            </span><span class="plus_detail_date">50</span></div>
                    <h2 class="tongket-title-1">TỔNG KẾT</h2>
                    <p class="tongket-board"> Với phương châm “Sống như những đoá hoa” Chúng tôi cảm ơn về sự ủng hộ
                        giúp đỡ của các mạnh thường
                        quân, nhà tài trợ đến từ nhiều cơ sở khác nhau. Đã cùng Đội chung tay xây nên những giá trị
                        ý nghĩa cho cuộc
                        sống này.Chúng tôi đã dùng số tiền đó vào việc các công việc thiết thực cho người dân ở Nóc
                        Tu Gia, nóc Tắk
                        Pổ, thôn 1, xã Trà Tập, huyện Nam Trà My, tỉnh Quảng Nam như: <br>
                        Bê tông hoá sân chơi cho Nóc Tu Gia <br>
                        Làm lại hàng trụ rào cho trường mẫu giáo <br>
                        Mua 10 suất quà cho người dân. <br>
                        Mỗi suất quà trị giá 500.000đ song mỗi suất gồm: <br>
                        + 10 ký gạo.<br>
                        + 1 chai nước mắm.<br>
                        + 1 chai dầu ăn.<br>
                        + 1 chai xì đâu<br>
                        + 3 bịch hạt nêm.<br>
                        + 200.000đ tiền mặt.<br>
                        Tặng 10 suất khuyến học cho trẻ em.<br>
                        Mỗi suất quà trị giá 500.000đ, mỗi suất bao gồm:<br>
                        + 1 thùng sữa<br>
                        + 10 cuốn vở ghi.<br>
                        + 1 hộp bút.<br>
                        + 1 bộ dụng cụ học tập.<br>
                        + 1 đôi dép.</p>
                    <h2 class="tongket-title">LỜI KẾT</h2>
                    <p class="tongket-end">Cảm ơn tất cả mọi người đã cùng đồng hành trên chuyến xe mang tên “Sống
                        Như Những Đóa Hoa” để mang đến
                        một mùa hè đầy nhiệt huyết và ý nghĩa đến với Nóc Tu Gia. Tất cả chúng ta đã tạo nên một
                        hành trình thật rực rỡ
                        và nhận được nhiều tình cảm yêu thương, quý mến của những người dân nơi nơi này. Bên cạnh đó
                        chiến dịch cũng
                        đã tạo sự kết nối giữa các thành viên trong Đội thêm gần gũi, gắn bó, cùng nhau hỗ trợ để
                        hoàn thành thật tốt các
                        nhiệm vụChiến dịch đã diễn ra đầy trọn vẹn và để lại nhiều niềm vui, hạnh phúc và những kỉ
                        niệm đáng quý cho tất
                        cả các thành viên. Mong rằng, các bạn hãy cùng Đội tiếp tục nỗ lực, cố gắng để tạo nên nhiều
                        điều tốt đẹp , mang
                        yêu thương bay xa đến mọi nhà</p>
                </div>
                <!-- Hình ảnh hoạt động -->
                <div class="tab-pane">
                    <h2 class="tongket-title">HÌNH ẢNH HOẠT ĐỘNG</h2>
                    <div class="image-container">
                        <img src="assets/images/anh1.jpg" alt="Image 1">
                        <img src="assets/images/anh2.jpg" alt="Image 2">
                        <img src="assets/images/anh3.jpg" alt="Image 3">
                        <img src="assets/images/anh1.jpg" alt="Image 1">
                        <img src="assets/images/anh2.jpg" alt="Image 2">
                        <img src="assets/images/anh3.jpg" alt="Image 3">
                        <img src="assets/images/anh1.jpg" alt="Image 1">
                        <img src="assets/images/anh2.jpg" alt="Image 2">
                        <img src="assets/images/anh3.jpg" alt="Image 3">
                        <!-- Thêm các hình ảnh khác nếu cần -->
                    </div>
                </div>
                <!-- Đánh giá hoạt động -->
                <div class="tab-pane">
                    <h2 class="tongket-title">ĐÁNH GIÁ HOẠT ĐỘNG</h2>

                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <button type="button" class="btn-judge">Đánh giá</button>
            <div class="group_member_tongket">
                <h3 class="group_member-organize">NHÀ TỔ CHỨC</h3>
                <h6 class="name-organize">Nguyễn Lan Anh</h6>
                <img src="assets/images/ava.jpg" alt="" class="images-organize">
                <hr class="dash_organize" />
                <h3 class="group_member-parti">THÀNH VIÊN</h3>
                <div class="group_member-list">
                    <div class="member">
                        <img class="member-ava" src="assets/images/ava1.jpg" alt="">
                        <span class="member-name">Nguyễn Thị Kim Chi</span>
                    </div>
                    <div class="member">
                        <img class="member-ava" src="assets/images/anh2.jpg" alt="">
                        <span class="member-name">Nguyễn Trung Thành</span>
                    </div>
                </div>
                <h6 class="member_more" data-bs-toggle="modal" data-bs-target="#MemberModal">XEM THÊM</h6>

                <!-- Modal -->

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="MemberModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-member">
        <div class="modal-content modal-content-member">
            <div class="modal-header modal-header-member">
                <h5 class="modal-title modal-title-member" id="exampleModalLabel">TÌNH NGUYỆN VIÊN</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body modal-body-member">
                <div class="modal-member">
                        <span>
                            <img class="modal-member-ava" src="assets/images/ava1.jpg" alt="">
                            <span class="modal-member-name">Nguyễn Thị Kim Chi</span>
                        </span>
                    <span class="modal-member-rate">
                            <i class="rate-detail">5</i>
                            <i class="bi bi-star-fill icon-star"></i>
                        </span>
                </div>
                <div class="modal-member">
                        <span>
                            <img class="modal-member-ava" src="assets/images/ava2.png" alt="">
                            <span class="modal-member-name">Nguyễn Trung Thành</span>
                        </span>
                    <span class="modal-member-rate">
                            <i class="rate-detail">5</i>
                            <i class="bi bi-star-fill icon-star"></i>
                        </span>
                </div>
                <div class="modal-member">
                        <span>
                            <img class="modal-member-ava" src="assets/images/ava3.jpg" alt="">
                            <span class="modal-member-name">Phan Thị Mỹ Anh</span>
                        </span>
                    <span class="modal-member-rate">
                            <i class="rate-detail">5</i>
                            <i class="bi bi-star-fill icon-star"></i>
                        </span>
                </div>
                <div class="modal-member">
                        <span>
                            <img class="modal-member-ava" src="assets/images/ava4.jpg" alt="">
                            <span class="modal-member-name">Phạm Hồng Ngọc</span>
                        </span>
                    <span class="modal-member-rate">
                            <i class="rate-detail">5</i>
                            <i class="bi bi-star-fill icon-star"></i>
                        </span>
                </div>
                <div class="modal-member">
                        <span>
                            <img class="modal-member-ava" src="assets/images/av5.jpg" alt="">
                            <span class="modal-member-name">Lê Phan</span>
                        </span>
                    <span class="modal-member-rate">
                            <i class="rate-detail">5</i>
                            <i class="bi bi-star-fill icon-star"></i>
                        </span>
                </div>
                <div class="modal-member">
                        <span>
                            <img class="modal-member-ava" src="assets/images/av7.jpg" alt="">
                            <span class="modal-member-name">Huỳnh Ngọc Minh</span>
                        </span>
                    <span class="modal-member-rate">
                            <i class="rate-detail">5</i>
                            <i class="bi bi-star-fill icon-star"></i>
                        </span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
