<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang cá nhân</title>
    <!-- Thay thế fragment header -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/css/base2.css}">-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/TrangCaNhan.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/ThemHoatDong.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <!-- Bao gồm Bootstrap Datepicker JS và CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script defer th:src="@{/js/Header.js}"></script>
    <script  defer th:src="@{/js/TrangCaNhan.js}"></script>
    <script  defer th:src="@{/js/ThemHoatDong.js}"></script>
    <script  defer th:src="@{/js/ThemTongKet.js}"></script>
    <script  defer th:src="@{/js/DanhGia.js}"></script>
</head>
<body>
<!--    <div id="iframe-container" class="sticky-top" style="top: -87px">-->
<!--    </div>-->
<!-- Thêm vào template để hiển thị thông điệp -->

<div id="placeholder" style="height: 87px; display: none;"></div>
<!-- Header -->
<div id="myHeader" style="top: -87px" th:include="Header :: html" ></div>
<div class="container-fluid">
    <div class="sectionAvatar">
        <img class="sectionAvatar__img-back dimmed" th:src="@{${user.getMaTK().getAnhDaiDien()}}" alt="">
        <img class="sectionAvatar__img-front" th:src="@{${user.getMaTK().getAnhDaiDien()}}" alt="">
        <div style="display: flex">
            <span class="sectionAvatar__name" th:text="${user.getHoTen()}"></span>
            <i style="margin-left: 2rem" id="icon-edit" class="sectionAvatar__edit bi bi-pencil-square" ></i>
        </div>
    </div>
    <div class="container__section">
        <img style="margin-bottom: 0.2rem" class="img-avatar-small" th:src="@{${user.getMaTK().getAnhDaiDien()}}" alt="">
        <input style="margin-bottom: 0.7rem" type="text" class="txtCreateActivity" placeholder="Tạo mới hoạt động....." >

        <button type="button" class="btn btn-primary" id="btnAddAct" data-bs-toggle="modal" data-bs-target="#ThemHoatDongModal" style="display: none;">
            Thêm
        </button>
<!--        <div class="text-end"><input class="btnPost" type="button" value="Đăng bài" name="btnPost"></div>-->
    </div>
    <div class="container__section">
        <!-- <input type="text" class="txtSearch" placeholder="Tìm kiếm"> -->
        <div>
            <div class="d-flex align-items-center">
                <label class="p-2 me-auto labelFilter">HOẠT ĐỘNG</label>
                <button class="ms-auto" id="btnFilter" name="btnFilter">Bộ lọc <i class="bi bi-filter"></i></button>
            </div>
            <div class="lineHorizontal"></div>
            <div class="d-flex">
                <div id="btnCreateAct" class="p-2 flex-fill btnActivity active">Hoạt động tổ chức</div>
                <div id="btnJoinAct" class="p-2 flex-fill btnActivity">Hoạt động tham gia</div>
            </div>
        </div>
        <!-- <div>
            <div class="d-flex mb-3 align-items-center">
                <label class="p-2 me-auto">DUYỆT HOẠT ĐỘNG</label>
                <button class="ms-auto" id="btnFilter" name="btnFilter">Bộ lọc <i class="bi bi-filter"></i></button>
            </div>
        </div> -->
    </div>
<!--mục hoạt động tổ chức-->
<!--        <div class="container__sectionAct" th:each="activity, index:${actListIsHost}" th:id="${activity.getTinhTrangDuyet()==0 ? 'gray-overlay' : ''}" >-->
    <div id="sectionActIsHost" class="container__sectionAct sectionActIsHost" th:each="activity, index:${actListIsHost}" th:style="${activity.getTinhTrangDuyet()==0 ? 'opacity: 0.7; background-color: rgb(222 222 222 / 50%); pointer-events: none;' : ' background-color: rgba(217, 249, 249, 0.6);'}" >
    <!--            <div class="gray-overlay" th:if="${activity.getTinhTrangDuyet()==0}">-->
        <div class="d-flex section__padding">
            <img class="img-avatar-small" th:src="@{${user.getMaTK().getAnhDaiDien()}}" alt="">
            <div class="header-activity">
                <label th:text="${user.getHoTen()}"></label>
                <div class="time-activity">
                    <i class="bi bi-clock"></i>
                    <!--                        chỗ ni phải lấy thời gian đăng ký-->
                    <span th:text="${listRegisIsHostActi.get(index.index).getThoiGianDK()}"></span>
                </div>
            </div>

            <div class="dropdown ms-auto">
                <i class="bi bi-three-dots icon-more" data-bs-toggle="dropdown"></i>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Duyệt thành viên</a></li>
                    <li><a class="dropdown-item" href="#">Tổng kết hoạt động</a></li>
                    <li><a class="dropdown-item" href="#">Đánh giá thành viên</a></li>
                </ul>
            </div>
        </div>
        <div class="d-flex section__padding ">
            <p class="title-activity" th:text="${activity.getTenhd()}"></p>
        </div>
        <div class="d-flex section__padding p-0">
            <i class="bi bi-geo-alt icon-address"></i>
            <p class="address-activity" th:text="${activity.getDiaDiem()}"></p>
        </div>
        <div class="section__padding content-activity" th:text="${activity.getMoTa()}">
        </div>
        <div class="text-end"><a th:href="@{/Join(id=${activity.getId()})}" class="linkMore">Xem thêm...</a></div>
        <div class="section__no-padding">
            <div>
                <img class="img-activity" th:src="@{${activity.getAnh()}}" alt="">
            </div>
            <div class="lineHorizontal"></div>

            <div class="row progress-activity">
                <div class="col-sm-3">Chờ duyệt</div>
                <div class="col-sm-3">Chưa diễn ra</div>
                <div class="col-sm-3">Đang diễn ra</div>
                <div class="col-sm-3">Đã diễn ra</div>
            </div>
            <div class="progress">
                <div class="progress-bar custom-progress" style="width:10%; background-color: #a2efb3 !important;" th:if="${activity.getTinhTrangDuyet()==0}"> </div>
                <div class="progress-bar custom-progress" style="width:40%; background-color: #54c46e !important;" th:if="${activity.getTinhTrangDuyet()==1 and activity.getTinhTrangHD()==0}"> </div>
                <div class="progress-bar custom-progress" style="width:70%; background-color: #1b7731 !important;" th:if="${activity.getTinhTrangDuyet()==1 and activity.getTinhTrangHD()==1}"> </div>
                <div class="progress-bar custom-progress" style="width:100%; background-color: #014b13 !important;" th:if="${activity.getTinhTrangDuyet()==2 and activity.getTinhTrangHD()==2}"> </div>
            </div>
            <div class="mt-3 lineHorizontal"></div>
        </div>
        <div class="pb-1 pt-1 section__padding d-flex align-items-center justify-content-center">
            <!--                -->
            <button id="btnEvaluate" class="btnEvaluate btn_eva_member" th:if="${activity.getTinhTrangHD()==2}" th:attr="data-value=${activity.getId()}"><i  class="bi bi-chat-square-heart " ></i> Đánh giá</button>
            <button class="btnEvaluate" th:if="${activity.getTinhTrangHD()!=2}" data-bs-toggle="modal" data-bs-target="#notifyEvaluateModal"><i  class="bi bi-chat-square-heart" ></i> Đánh giá</button>
            <button class="buttonSummary btnSummary" id="btnSummary" data-bs-toggle="modal" data-bs-target="#confirmAddSummaryModal" th:if="${listSummaryIsHostActi.get(index.index)} == -1 and ${activity.getTinhTrangHD()==2}"><i class="bi bi-send-check"></i> Tổng kết</button>
            <button class="buttonSummary btnSummary" data-bs-toggle="modal" data-bs-target="#notifySummaryModal" th:if="${listSummaryIsHostActi.get(index.index)} == -1 and ${activity.getTinhTrangHD()<2}"><i class="bi bi-send-check"></i> Tổng kết</button>
            <button class="buttonSummary btnSummary" th:if="${listSummaryIsHostActi.get(index.index)} > 0"><i class="bi bi-send-check"></i> <a th:href="@{/View-Summary(id=${activity.getId()})}"  style="text-decoration: none; color: #136b1d" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Xem tổng kết">Tổng kết</a></button>
            <!--                <button class="buttonSummary" id="btnSummary" data-bs-toggle="modal" data-bs-target="#TongKetModal" th:attr="data-value=${activity.id},data-account=${account.id}"><i class="bi bi-send-check"></i> Tổng kết</button>-->
        </div>
    </div>
<!--mục hoạt động tham gia-->
    <div id="sectionActIsJoin" class="container__sectionAct sectionActIsJoin no-display" th:each="activity, index:${actListIsMember}" th:style="${listRegisIsMemberActi.get(index.index).getTrangThai()==false ? 'opacity: 0.7; background-color: rgb(222 222 222 / 50%); pointer-events: none;' : ' background-color: rgba(217, 249, 249, 0.6);'}" >
        <!--            <div class="gray-overlay" th:if="${activity.getTinhTrangDuyet()==0}">-->
        <div class="d-flex section__padding">
            <img class="img-avatar-small" th:src="@{${listInforOfHostActi.get(index.index).getMaTK().getAnhDaiDien()}}" alt="">
            <div class="header-activity">
                <label th:text="${listInforOfHostActi.get(index.index).getHoTen()}"></label>
                <div class="time-activity">
                    <i class="bi bi-clock"></i>
                    <!--                        chỗ ni phải lấy thời gian đăng ký-->
                    <span th:text="${listInforOfActiJoin.get(index.index).getThoiGianDK()}"></span>
                </div>
            </div>

            <div class="dropdown ms-auto">
                <i class="bi bi-three-dots icon-more" data-bs-toggle="dropdown"></i>
                <ul class="dropdown-menu">
<!--                    <li><a class="dropdown-item" href="#">Duyệt thành viên</a></li>-->
<!--                    <li><a class="dropdown-item" href="#">Tổng kết hoạt động</a></li>-->
                    <li><a class="dropdown-item" href="#">Đánh giá hoạt động</a></li>
                </ul>
            </div>
        </div>
        <div class="d-flex section__padding ">
            <p class="title-activity" th:text="${activity.getTenhd()}"></p>
        </div>
        <div class="d-flex section__padding p-0">
            <i class="bi bi-geo-alt icon-address"></i>
            <p class="address-activity" th:text="${activity.getDiaDiem()}"></p>
        </div>
        <div class="section__padding content-activity" th:text="${activity.getMoTa()}">
        </div>
        <div class="text-end"><a th:href="@{/Join(id=${activity.getId()})}" class="linkMore">Xem thêm...</a></div>
        <div class="section__no-padding">
            <div>
                <img class="img-activity" th:src="@{${activity.getAnh()}}" alt="">
            </div>
            <div class="lineHorizontal"></div>

            <div class="row progress-activity">
                <div class="col-sm-3">Chờ duyệt</div>
                <div class="col-sm-3">Chưa diễn ra</div>
                <div class="col-sm-3">Đang diễn ra</div>
                <div class="col-sm-3">Đã diễn ra</div>
            </div>
            <div class="progress">
                <div class="progress-bar custom-progress" style="width:10%; background-color: #a2efb3 !important;" th:if="${activity.getTinhTrangDuyet()==0}"> </div>
                <div class="progress-bar custom-progress" style="width:40%; background-color: #54c46e !important;" th:if="${activity.getTinhTrangDuyet()==1 and activity.getTinhTrangHD()==0}"> </div>
                <div class="progress-bar custom-progress" style="width:70%; background-color: #1b7731 !important;" th:if="${activity.getTinhTrangDuyet()==1 and activity.getTinhTrangHD()==1}"> </div>
                <div class="progress-bar custom-progress" style="width:100%; background-color: #014b13 !important;" th:if="${activity.getTinhTrangDuyet()==2 and activity.getTinhTrangHD()==2}"> </div>
            </div>
            <div class="mt-3 lineHorizontal"></div>
        </div>
        <div class="pb-1 pt-1 section__padding d-flex align-items-center justify-content-center">
            <!--                -->
            <button id="" class="btnEvaluate btn-evaluate" th:if="${activity.getTinhTrangHD()==2}" th:attr="data-value=${activity.getId()},data-account = ${account.getId()}"><i  class="bi bi-chat-square-heart " ></i> Đánh giá</button>
            <button class="btnEvaluate"  th:if="${activity.getTinhTrangHD()!=2}" data-bs-toggle="modal" data-bs-target="#notifyEvaluateModal"><i  class="bi bi-chat-square-heart" ></i> Đánh giá</button>
<!--            <button class="buttonSummary btnSummary"  data-bs-toggle="modal" data-bs-target="#confirmAddSummaryModal" th:if="${listSummaryIsMemberActi.get(index.index)} == -1 and ${activity.getTinhTrangHD()==2}"><i class="bi bi-send-check"></i> Tổng kết</button>-->
<!--            <button class="buttonSummary btnSummary" data-bs-toggle="modal" data-bs-target="#notifySummaryModal" th:if="${listSummaryIsMemberActi.get(index.index)} == -1 and ${activity.getTinhTrangHD()<2}"><i class="bi bi-send-check"></i> Tổng kết</button>-->
            <button class="buttonSummary btnSummary" th:if="${listSummaryIsMemberActi.get(index.index)} > 0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Xem tổng kết"><i class="bi bi-send-check"></i> <a th:href="@{/View-Summary(id=${activity.getId()})}" style="text-decoration: none; color: #136b1d" >Tổng kết</a></button>
            <button class="buttonSummary btnSummary" th:if="${listSummaryIsMemberActi.get(index.index)} <= 0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Hoạt động chưa có tổng kết"><i class="bi bi-send-check"></i> <a style="text-decoration: none; color: #136b1d" >Tổng kết</a></button>
            <!--                <button class="buttonSummary" id="btnSummary" data-bs-toggle="modal" data-bs-target="#TongKetModal" th:attr="data-value=${activity.id},data-account=${account.id}"><i class="bi bi-send-check"></i> Tổng kết</button>-->
        </div>
    </div>
</div>


<!-- Modal sửa thông tin cá nhân-->
<div class="modal fade" id="modalChangeInform" tabindex="-1" aria-labelledby="EditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content custom-modal-color">
            <div class="modal-header">
                <h5 class="modal-title" id="EditModalLabel">CHỈNH SỬA THÔNG TIN CÁ NHÂN</h5>
                <button id="closeButton" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form action="/sua-thong-tin-ca-nhan" id="formChangeInform" method="post" th:object="${user}" enctype="multipart/form-data">

                <input type="hidden" name="maTK" th:value="${account.getId()}">
                <input type="hidden" name="id" th:value="${user.getId()}">

                <div class="modal-body">
                    <div class="div__avatar">
                        <div><img class="svg-avatar" th:src="@{/images/svg-avatar.svg}" alt="Ảnh đại diện"></div>
                        <div class="d-flex justify-content-center"><img class="img-avatar" id="anhDaiDien" th:src="@{${user.getMaTK().getAnhDaiDien()}}" alt="" ></div>
<!--                        <input type="hidden" name="stringImage" th:value="">-->
                        <div>
                            <input class="custom-file-input choose-file" type="file" accept="image/png, image/jpeg, image/gif" name="imageInput" id="input-file">
                            <label class="custom-file-label" for="input-file"><img th:src="@{/images/anh.png}"> Chọn ảnh</label>
                        </div>
                    </div>
                    <div class="div__inform">
                        <div class="title-inform">
                            <img class="svg-inform" th:src="@{/images/svg-inform.svg}">
                        </div>
                        <div class="div__inform-form">
                            <div>
                                <div class="mb-3 d-flex align-items-center">
                                    <i class="bi bi-person-vcard"></i>
                                    <label for="name" class="form-label">Họ tên: </label>
                                    <input type="text" class="form-control" id="name" placeholder="Nguyễn Văn A" name="hoTen" required th:value="${user.getHoTen()}">

                                </div>
                                <div class="mb-3 d-flex align-items-center">
                                    <i class="bi bi-gender-ambiguous"></i>
                                    <label class="form-label">Giới tính:</label>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input form-check-gender" id="radio1" name="gioiTinh" value="0" required th:checked="${user.getGioiTinh() == 0}">
                                        <label class="form-check-label" for="radio1">Nam</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input form-check-gender" id="radio2" name="gioiTinh" value="1" required th:checked="${user.getGioiTinh() == 1}">
                                        <label class="form-check-label" for="radio2">Nữ</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input form-check-gender" id="radio3" name="gioiTinh" value="2" required th:checked="${user.getGioiTinh() == 2}">
                                        <label class="form-check-label" for="radio3">Khác</label>
                                    </div>
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                </div>
                                <div class="mb-3 d-flex align-items-center">
                                    <i class="bi bi-cake2"></i>
                                    <label for="birthday" class="form-label">Ngày sinh: </label>
                                    <input type="date" class="form-control date-show" id="birthday" name="ngaySinh" required th:value="${user.getNgaySinh()}">
<!--                                    <input type="date" class="form-control datepicker" id="birthday" name="birthday" required-->
<!--                                           th:value="${#dates.format(user.getNgaySinh(), 'yyyy-MM-dd')}"-->
<!--                                           th:attr="data-date-format=('dd/MM/yyyy')">-->

                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                </div>
                                <!--                                            <div class="mb-3">-->
                                <div class="mb-3 d-flex align-items-center">
                                    <i class="bi bi-geo-alt"></i>
                                    <label for="address" class="form-label">Địa chỉ:</label>
                                    <input type="text" class="form-control" id="address" placeholder="Nhập địa chỉ cụ thể (số nhà, tên đường, ...)" name="diaChi" required th:value="${user.getDiaChi()}">
                                    <!-- <form > -->
                                    <div class="form-address">

                                        <!--                                                        <div class="mb-2 form-group d-flex align-items-center">                                                -->
                                        <!--                                                            <label for="addressLine">Số nhà:</label>                                                -->
                                        <!--                                                            <input type="text" class="form-control" id="addressLine" placeholder="Nhập địa chỉ cụ thể (số nhà, tên đường, ...)" name="addressLine" required th:value="${user.getDiaChi()}">-->
                                        <!--                                                        </div>                                                                  -->
                                        <!--                                                        <div class="mb-2 form-group d-flex align-items-center">                                                -->
                                        <!--                                                            <label for="wardCommune">Xã/Phường:</label>                                                -->
                                        <!--                                                            <input type="text" class="form-control" id="wardCommune" placeholder="Nhập xã/phường" name="wardCommune" required>                                                -->
                                        <!--                                                        </div>-->
                                        <!--                                                        <div class="mb-2 form-group d-flex align-items-center">                                                -->
                                        <!--                                                            <label for="district">Quận/Huyện:</label>                                                -->
                                        <!--                                                            <input type="text" class="form-control" id="district" placeholder="Nhập quận/huyện" name="district" required>                                                -->
                                        <!--                                                        </div>-->
                                        <!--                                                        <div class="mb-2 form-group d-flex align-items-center">                                                -->
                                        <!--                                                            <label >Tỉnh/Thành phố:</label>                                                -->
                                        <!--                                                            &lt;!&ndash; <select class="form-control" id="provinceCity" name="provinceCity" required> -->
                                        <!--                                                                <option value="">Chọn tỉnh/thành phố</option>-->
                                        <!--                                                                <option value="hanoi">Hà Nội</option>-->
                                        <!--                                                                <option value="hcm">Hồ Chí Minh</option>-->
                                        <!--                                                                <option value="danang">Đà Nẵng</option>-->
                                        <!--                                                            </select> &ndash;&gt;-->
                                        <!--                                                            <input type="text" class="form-control" id="address" placeholder="Chọn tỉnh/thành phố" name="pswd" required>-->
                                        <!--                                                        </div>         -->
                                    </div>
                                    <!-- </form> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="div__contact">
                        <div class="title-contact">
                            <img class="svg-contact" th:src="@{/images/svg-contact.svg}">
                        </div>
                        <div class="div__contact-form">
                            <div>
                                <div class="mb-3 d-flex align-items-center">
                                    <i class="bi bi-telephone"></i>
                                    <label class="form-label" for="phone">Số điện thoại:</label>
                                    <input type="tel" class="form-control" id="phone" name="soDienThoai" pattern="[0-9]{10}" placeholder="Nhập số điện thoại" required th:value="${user.getSoDienThoai()}">
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                </div>
                                <div class="mb-3 d-flex align-items-center">
                                    <i class="bi bi-envelope"></i>
                                    <label class="form-label" for="email">Địa chỉ email:</label>
                                    <input type="email" class="form-control" id="email" name="email"  placeholder="Nhập địa chỉ email" required th:value="${user.email != null} ? ${user.getEmail()} : ''">
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>
<!--                    <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>-->
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btnReset btn-secondary" id="btnReset" >Hủy thay đổi</button>
                    <button type="submit" class="btnSave btn-primary">Lưu thay đổi</button>
                    <!-- data-dismiss="modal": đóng cửa sổ modal -->
                </div>
            </form>
        </div>
    </div>
</div>
<!------------------------Modal Thêm tổng kết-------------------------->

<div class="modal fade" id="TongKetModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg modal-dialog-tongket">
        <div class="modal-content modal-content-tongket">
            <form class="needs-validation" id="myForm" novalidate>
                <div class="modal-header modal-header-tongket">
                    <h5 class="modal-title modal-title-tongket" id="exampleModalLabel">TỔNG KẾT HOẠT ĐỘNG</h5>
                    <button type="button" class="btn-close btnClose" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-body-themhd">
                    <div class="container modal-body-detail">
                        <div class="row">
                            <div class="col-md-3"><label class="lbHD" for="txt_TenChuDe"><i class="bi bi-pencil-square"></i>CHỦ
                                ĐỀ</label></div>
                            <div class="col-md-9"><input class="textfieldHD form-control" type="text" name="txt_NameTopic" id="txt_TenChuDe"
                                                         value="" readonly></div>
                            <div class="invalid-feedback">Vui lòng nhập tên chủ đề</div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3"><label class="lbHD" for="txt_TenHoatDong"><i class="bi bi-fire"></i>TÊN HOẠT
                                ĐỘNG</label></div>
                            <div class="col-md-9"> <input class="textfieldHD form-control" type="text" name="txt_NameActi" id="txt_TenHoatDong"
                                                          value="" readonly></div>
                            <div class="invalid-feedback">Vui lòng nhập tên hoạt động</div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="col-md-3 lbHD"><i class="bi bi-menu-up"></i>BẢNG TỔNG KẾT</div>
                            <div class="col-md-9">
                                <textarea name="txt_tongket" class=" form-control" id="txt_tongket" cols="71" rows="15" required></textarea>

                            </div>
                            <div class="invalid-feedback">Vui lòng nhập bảng tổng kết</div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3 lbHD"><i class="bi bi-menu-up"></i>LỜI KẾT</div>
                            <div class="col-md-9">
                                <textarea name="txt_loiket" class=" form-control" id="txt_loiket" cols="71" rows="7" required></textarea>
                            </div>
                            <div class="invalid-feedback">Vui lòng nhập lời kết</div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3 lbHD"><i class="bi bi-card-image"></i>HÌNH ẢNH</div>
                            <div class="col-md-9 tongket-reviews">
                                <div class="tongket-reviews">
                                    <div class="form_upload">
                                        <label class="tongket_insert_attach"><span><img th:src="@{/images/imgdf.png}" alt="" id="imgdf">
                        Chọn ảnh</span></label>
                                    </div>
                                    <div class="list_attach">
                                        <ul class="tongket_attach_view">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer modal-footer-themhd">
                    <button type="button" class="btnSave"><i class="bi bi-floppy2"></i> Lưu thay đổi</button>
                    <button type="button" class="btnCancel" onclick="resetFormFields()"><i class="bi bi-x-circle-fill"></i> Hủy thay
                        đổi</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!----------Model đăng hoạt động mới---------------------->

<!-- The Modal bộ lọc -->
<div class="modal" id="modalFilter">
    <div class="modal-dialog">
        <div class="modal-content" style="align-items: center">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title titleFilter"  style="margin-left: 0">Bộ lọc hoạt động</h4>
                <button id="btn-closeFilter" type="button" class="btn-close" data-dismiss="modal" aria-label="Close" style="margin-left: 3rem"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form action="#" id="formFilter">
                    <!-- mục hoạt động tổ chức -->
                    <div>
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <p>Duyệt thành viên</p>
                            </div>
                            <div class="col-md-6" style="margin-bottom: 0.5rem">
                                <select class="form-select form-select-sm mt-3 optEvaluate">
                                    <option>Tất cả</option>
                                    <option>Thành viên đăng ký tham gia</option>
                                </select>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <p>Trạng thái hoạt động</p>
                            </div>
                            <div class="col-md-6" style="margin-bottom: 0.5rem">
                                <select class="form-select form-select-sm mt-3 optState">
                                    <option>Tất cả</option>
                                    <option>Chờ duyệt</option>
                                    <option>Chưa diễn ra</option>
                                    <option>Đang diễn ra</option>
                                    <option>Đã diễn ra</option>
                                </select>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <p>Tổng kết</p>
                            </div>
                            <div class="col-md-6" style="margin-bottom: 0.5rem">
                                <select class="form-select form-select-sm mt-3 optSummary">
                                    <option>Tất cả</option>
                                    <option>Đã tổng kết</option>
                                    <option>Chưa tổng kết</option>
                                </select>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <p>Đánh giá</p>
                            </div>
                            <div class="col-md-6" style="margin-bottom: 0.5rem">
                                <select class="form-select form-select-sm mt-3 optEvaluate">
                                    <option>Tất cả</option>
                                    <option>Đã đánh giá</option>
                                    <option>Chưa đánh giá</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- mục hoạt động tham gia -->
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="reset" class="btnReset btn-secondary" id="btnResetFilter" style="background-color: #136b1d">Hủy thay đổi</button>
                <button type="button" class="btnSave btn-primary" style="background-color: #136b1d; width: 130px; margin-left: 1rem">Lưu thay đổi</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Thông báo về việc thêm tổng kết-->
<div class="modal fade" id="confirmAddSummaryModal" tabindex="-1" role="dialog" aria-labelledby="confirmAddSummaryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="align-items: center">
            <div class="modal-header" >
                <h5 class="modal-title" id="confirmAddSummaryModalLabel" style="margin-left: 11rem">Xác nhận</h5>
                <button type="button" class="closeModalLogout" data-bs-dismiss="modal" aria-label="Close" style="margin-left: 10rem">
                    <span aria-hidden="true" >&times;</span>
                </button>
            </div>
            <div class="modal-body" style="font-size: 1.1rem; margin: 0">
                Hoạt động này chưa được tổng kết<br>
                Bạn có muốn tổng kết hoạt động này?
            </div>
            <div class="modal-footer">
                <button type="button" class="closeModalLogout btn btn-secondary" data-bs-dismiss="modal" style="background-color: #136b1d !important; color: #ffffff; width: 6rem;">Hủy</button>
                <button type="submit" class="btn" style="background-color: #136b1d; color: #ffffff; width: 6rem; margin-left: 2rem" data-bs-toggle="modal" data-bs-target="#TongKetModal" th:attr="data-value=${activity.id},data-account=${account.id}">Đồng ý</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="notifySummaryModal" tabindex="-1" role="dialog" aria-labelledby="notifySummaryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="align-items: center">
            <div class="modal-header" >
                <h5 class="modal-title" id="notifySummaryModalLabel" style="margin-left: 11rem">Thông báo</h5>
                <button type="button" class="closeModalLogout" data-bs-dismiss="modal" aria-label="Close" style="margin-left: 10rem">
                    <span aria-hidden="true" >&times;</span>
                </button>
            </div>
            <div class="modal-body" style="font-size: 1.1rem; margin: 0">
                Hoạt động này chưa kết thúc<br>
                Hãy quay lại tổng kết sau!
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn" style="background-color: #136b1d; color: #ffffff; width: 6rem; margin-left: 22rem">OK</button>
            </div>
        </div>
    </div>
</div>
<!-----modal thông báo về việc đánh giá:-->
<div class="modal fade" id="notifyEvaluateModal" tabindex="-1" role="dialog" aria-labelledby="notifyEvaluateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="align-items: center">
            <div class="modal-header" >
                <h5 class="modal-title" id="notifyEvaluateModalLabel" style="margin-left: 11rem">Thông báo</h5>
                <button type="button" class="closeModalLogout" data-bs-dismiss="modal" aria-label="Close" style="margin-left: 10rem">
                    <span aria-hidden="true" >&times;</span>
                </button>
            </div>
            <div class="modal-body" style="font-size: 1.1rem; margin: 0">
                Hoạt động này chưa kết thúc<br>
                Hãy quay lại đánh giá sau!
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn" style="background-color: #136b1d; color: #ffffff; width: 6rem; margin-left: 22rem">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal chung đánh giá thành viên-->
<div class="modal_ box-shadow no-display">
    <div class="modal__overlay">
    </div>
    <div class="modal__body position-relative">
        <!--Form chi tiet danh gia-->
        <div class="container w-45 p-0">
            <div class="container w-100 h-2_7 bg-green-dark d-flex justify-content-between align-items-center btr-radius">
                <!--                Ten hoat dong-->
                <h3 class="fs-5 white-color text-center m-0 flex-3 modal-nameAct"></h3>
                <div class="btn btn-close btn-close-detail"></div>
            </div>
            <!-- Content -->
            <div class="container max_height-36rem overflow-y-auto overflow-x-hidden scr-Act content-evaluate ">
                <div class="container d-flex align-items-center mt-2">
                    <img class="w-2_5 h-2_5 ml-0_1 radius-1_8 avatar avatar-host" src="" alt="">
                    <div class="container ml-0_1">
                        <h4 class="green-color fs-6 my-1 mt-1 name-host-act"></h4>
                        <!--                        Thời gian xét duyệt-->
                        <p class="m-0 fs-10 fst-italic green-color time-post-act"></p>
                    </div>
                </div>
                <!--                Mo ta-->
                <p class="m-0 p-3 fs-7 modal-Description"></p>

                <div class="container d-flex m-1 justify-content-center images-Activity">
                    <!--                    <img src="../static/images/anh2.jpg" alt="" class="height-10rem flex-1 p-1">-->
                    <!--                    <img src="../static/images/anh2.jpg" alt="" class="height-10rem flex-1 p-1">-->
                    <!--                    <img src="../static/images/anh2.jpg" alt="" class="height-10rem flex-1 p-1">-->
                </div>
                <div class="container border_top-solid border_bottom-solid d-flex px-0">
                    <div class="container p-2 fs-9 fst-italic modal-number-evaluation"></div>
                    <div class="container p-0 no-display view-organized">
                        <div class="container d-flex justify-content-end px-0">
                            <div class="container pl-1_35rem pt-0_6rem fs-11 fst-italic green-cb cursor-pointer fw-medium btn-view-evaluation">Xem lượt
                                đánh giá</div>
                            <div class="container pl-1_35rem pt-0_6rem fs-11 fst-italic cursor-pointer fw-medium btn-evaluate-member"><p class="text_align-center">Đánh giá thành
                                viên</p></div>
                        </div>
                    </div>
                </div>

                <!-- Content comment -->
                <div class="container no-display view-comment">
                    <!--View ra comment của thành viên-->
                </div>
                <!-- Evaluate -->
                <div class="container h-28rem evaluation no-display">
                    <div class="container d-flex flex-wrap m-2 justify-content-start members-activity">
                        <!--   Thanh vien cua hoat dong va form danh gia tung nguoi                     -->
                    </div>
                </div>
            </div>
            <!-- Form write comment -->
            <div class="container position-absolute bottom-0 start-0 end-0 p-0 m-0 no-display write-comment">
                <div class="container  start-0 end-0 w-100 bg-white box-shadow p-2 d-flex bdr-radius">
                    <img th:src="${account.getAnhDaiDien()}" th:attr="data-value=${account.getId()}" class="w-2_5 h-2_5 p-1 radius-1_8 member-infor" alt="">
                    <div class="container bg-grey radius-1_8 p-2">
                        <div class="container px-2 m-0">
                            <div class="container d-flex flex-1">
                                <p class="fs-9 dark_grey-color fst-italic m-1 flex-1">Điểm ban tổ chức:
                                <div class="container d-flex flex-5 ml--2">
                                    <i class="bi bi-star-fill white-light-color fs-7 py-1 px-1 btn-star"></i>
                                    <i class="bi bi-star-fill white-light-color fs-7 py-1 px-1 btn-star"></i>
                                    <i class="bi bi-star-fill white-light-color fs-7 py-1 px-1 btn-star"></i>
                                    <i class="bi bi-star-fill white-light-color fs-7 py-1 px-1 btn-star"></i>
                                    <i class="bi bi-star-fill white-light-color fs-7 py-1 px-1 btn-star"></i>
                                </div>
                            </div>
                            <div class="container mt-1 d-flex">
                                <p class="fs-9 dark_grey-color fst-italic m-0  ">Hoạt động: </p>
                                <p class="fs-9 dark_grey-color fst-italic m-0 ms-5">Hữu ích <input class="check-survey"  type="checkbox"></p>
                                <p class="fs-9 dark_grey-color fst-italic m-0  ms-5">Nên tổ chức thường xuyên <input class="check-survey" type="checkbox">
                                </p>
                                <p class="fs-9 dark_grey-color fst-italic m-0  ms-5">Nên tổ chức rộng rãi <input class="check-survey" type="checkbox">
                                </p>
                            </div>
                        </div>
                        <div class="container d-flex">
                <textarea type="text" placeholder="Viết đánh giá..."
                          class="w-100 bg-grey no-outline no-border fs-9 mt-1 ms-2 p-0 no-resize text-comment" rows="2"></textarea>

                            <i class="bi bi-send green-color mt-4 fs-6 p-2 cursor-pointer btn-send-cmt"></i>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="margin-bottom: 4rem"></div>
<div id="myFooter" th:include="Footer :: html" ></div>
</body>
</html>