<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css "/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}">
    <script defer th:src="@{/js/Header.js}"></script>
</head>

<body>
<div id="iframe-container" class="sticky-top" style="top: -87px">
</div>
<div class="container p-5">
    <!--Search-->
    <div class="fs-6 p-1 border-search width-25rem m-5 position-relative">
        <i class="bi bi-search p-2 grey-color"></i>
        <input type="text" class="border-0 grey-color p-md-1 no-outline w-85 search-input"
               placeholder="Tìm kiếm hoạt động" />
        <!--Infor search-->
        <div class="container position-abs box-shadow z-index-1 bg-white p-2 radius-1 search-info no-display">
            <h2 class="fs-6 pb-1 p-1">Tìm kiếm gần đây</h2>
            <div class="container overflow-auto max_height-20rem">
                <div class="container d-flex align-items-center mb--1 p-0 btn btn-group search-info-item">
                    <img class="w-3 h-2_5 flex-1" src="../static/images/anh1.png" alt="" />
                    <p class="m-1 fs-7 ml--3 flex-16">
                        Mang con chữ đến trẻ vùng cao
                    </p>
                    <i class="flex-1 btn btn-close p-0 fs-7"></i>
                </div>

                <div class="container d-flex align-items-center mb--1 p-0 btn btn-group search-info-item">
                    <img class="w-3 h-2_5 flex-1" src="../static/images/anh1.png" alt="" />
                    <p class="m-1 fs-7 ml--3 flex-16">
                        Mang con chữ đến trẻ vùng cao
                    </p>
                    <i class="flex-1 btn btn-close p-0 fs-7"></i>
                </div>

                <div class="container d-flex align-items-center mb--1 p-0 btn btn-group search-info-item">
                    <img class="w-3 h-2_5 flex-1" src="../static/images/anh1.png" alt="" />
                    <p class="m-1 fs-7 ml--3 flex-16">
                        Mang con chữ đến trẻ vùng cao
                    </p>
                    <i class="flex-1 btn btn-close p-0 fs-7"></i>
                </div>
            </div>
        </div>
    </div>

    <!--Content-->
    <h2 class="mx-0 fs-4 mb-sm-3 ms-5">HOẠT ĐỘNG GẦN ĐÂY</h2>
    <div class="container d-flex">
        <!--Left-->
        <div class="container p-5 pt-0 fs-6 mx--2 w-75 act-slider">
        <div class="container-item" th:each="i : ${#numbers.sequence(0, activityList.size() div 4 + ((activityList.size()%4 > 0) ? 1 : 0) - 1)}">
                <div class="container d-flex align-items-center float-start p-0 pb-2 border_bottom-solid" th:each="j:${#numbers.sequence(0,3)}" th:if="${(4*i+j)<activityList.size()}">
                    <img src="" class="float-start w-10 h-80" alt="" />
                    <div class="card border-0">
                        <div class="card-body fs-7">
                            <div class="card-title fs-6 fw-bolder green-color" th:text="${activityList.get((4*i)+j).getTenHD()}"></div>
                            <div class="card-text my-0" th:text="${#strings.length(activityList.get(4*i+j).getMoTa()) > 150 ? activityList.get(4*i+j).getMoTa().substring(0, 150) + '...' : activityList.get(4*i+j).getMoTa()}"></div>
                            <div class="card-text mx-2 my-1">
                                <i class="bi bi-calendar2 m-1  green-color" th:text="'   ' + ${activityList.get(4*i+j).getThoiGianBD() + '  -  ' + activityList.get(4*i+j).getThoiGianKT()}"></i>
                            </div>
                            <div class="card-link p-0">
                                <button
                                        class="btn text-decoration-none green_light-color fw-medium fst-italic float-sm-end me-md-3 mb-md-1 view-detail no-border fs-7">Xem
                                    chi tiết...</button>
                            </div>
                            <div
                                    class="card-text bg-btn height-2rem radius-lghalf mt-7 white-color fs-9 p-1 pleft-6 fs-8 mt-9 text_align-center">
                                Lượt đánh giá(145)</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Right-->

        <div class="container w-25 mt-2_8 p-0">
            <div class="container cmt-slider">

                <div class="container bg-grey radius-1 p-2 my-6" th:each="index:${#numbers.sequence(1,6)}">
                    <div class="container d-flex my-1">
                        <img src="../static/images/av3.png" class="radius-1 me-1 w-1_8 h-1_8" alt="">
                        <h7 class="green-color fs-9 fst-italic fw-medium" th:text="${evaluationList.get(index).getMaTK().getTenDN()}"></h7>
                    </div>
                    <div class="container d-flex align-items-center mx-1">
                        <p class="fs-10 fst-italic m-0" th:text="${evaluationList.get(index).getBinhLuan()}">
                        </p>
                    </div>
                    <p class="green_light-color fst-italic fs-10 my-0 mx-3" th:text="${#dates.format(evaluationList.get(index).getThoiGianBL(),'dd/MM/yyyy')}"></p>
                </div>



            </div>
        </div>
    </div>

    <!-- Chuyển trang -->
    <a class="green_light-color no-text-decoration fw-semibold fst-italic fs-5 float-end" href="/danh-gia">Đánh giá
        hoạt
        động...</a>
</div>

<!-- Modal -->
<div class="modal_ no-display">
    <div class="modal__overlay">

    </div>
    <div class="modal__body position-relative">
        <!--Form chi tiet danh gia-->
        <div class="container w-45 p-0">
            <div class="container w-100 h-2_7 bg-green-dark d-flex justify-content-between align-items-center">
                <h3 class="fs-5 white-color text-center m-0 flex-3">Mang con chữ đến với trẻ vùng cao</h3>
                <div class="btn btn-close btn-close-detail"></div>
            </div>

            <div class="container max_height-37rem overflow-y-auto overflow-x-hidden">
                <div class="container d-flex align-items-center mt-2">
                    <img class="w-2_5 h-2_5 ml-0_1 radius-1_8" src="../static/images/av5.jpg" alt="">
                    <div class="container ml-0_1">
                        <h4 class="green-color fs-6 my-1 mt-1">Nguyễn Trung Thành</h4>
                        <p class="m-0 fs-10 fst-italic green-color">3 tháng trước</p>
                    </div>
                </div>

                <p class="m-0 p-3 fs-7"> Dù ở những điểm trường cách xa trung tâm xã, đường sá đi lại khó khăn
                    nhưng với lòng yêu nghề, các thầy cô giáo ở vùng
                    cao vẫn kiên trì bám bản để mang kiến thức đến với học sinh vùng cao...Hoạt động đã đem đến những suất quà,
                    xây dựng
                    đường đi, vệ sinh khu vực vườn trường, xây sân trước để giúp đỡ phần nào khó khăn cho các em. Không những
                    thế
                    các bạn
                    tình nguyện viên tham gia hoạt động cũng hết sức hăng hái và nhiệt huyết trong việc truyền dạy và giúp các
                    em
                    hướng
                    đến một tương lai tốt đẹp hơn.</p>

                <div class="container d-flex m-1 justify-content-center border_top-solid">
                    <img src="../static/images/anh2.jpg" alt="" class="height-10rem flex-1 p-1">
                    <img src="../static/images/anh2.jpg" alt="" class="height-10rem flex-1 p-1">
                    <img src="../static/images/anh2.jpg" alt="" class="height-10rem flex-1 p-1">
                </div>
                <!-- Header comment -->
                <div class="container border_top-solid border_bottom-solid p-2 fs-9 fst-italic">150 lượt đánh giá</div>
                <div class="container">
                    <div class="container d-flex justify-content-sm-end p-2">
                        <h4 class="fs-9 green-color fst-italic me-4 text-center">Hoạt động<br>hữu ích</h4>
                        <h4 class="fs-9 green-color fst-italic me-4 text-center">Cần tổ chức<br>thường xuyên</h4>
                        <h4 class="fs-9 green-color fst-italic me-4 text-center">Cần tổ chức<br>rộng rãi</h4>
                    </div>

                    <!-- Comment -->
                    <div class="container d-flex mb-3">
                        <!-- Text comment -->
                        <div class="container radius-1 bg-green">
                            <div class="container p-1">
                                <img src="../static/images/av3.png" class="w-2_5 h-2_5 p-1 radius-1_8" alt="">
                                <h7 class="green-color fs-11 fst-italic fw-medium">Huỳnh Ngọc Hiệp</h7>
                            </div>
                            <p class="fs-10 fst-italic m-0 px-3">Thật may mắn khi được tham gia và giúp sức mình cho cộng đồng. Trải
                                nghiệm thật khó quên. Cảm ơn ban tổ chức!</p>
                            <p class="green_light-color fst-italic fs-10 my-1 mx-3">20 ngày trước</p>
                        </div>
                        <!-- Check comment -->
                        <div class="container d-flex align-items-center justify-content-center">
                            <i class="bi bi-check-lg green_light-color flex-1 p-4 fs-3 fw-bold"></i>
                            <i class="bi bi-x-lg green_light-color flex-1 p-5 fs-6 fw-bold"></i>
                            <i class="bi bi-check-lg green_light-color flex-1 p-4 fs-3 fw-bold"></i>
                        </div>
                    </div>

                    <div class="container d-flex mb-3">
                        <!-- Text comment -->
                        <div class="container radius-1 bg-green">
                            <div class="container p-1">
                                <img src="../static/images/av3.png" class="w-2_5 h-2_5 p-1 radius-1_8" alt="">
                                <h7 class="green-color fs-11 fst-italic fw-medium">Huỳnh Ngọc Hiệp</h7>
                            </div>
                            <p class="fs-10 fst-italic m-0 px-3">Thật may mắn khi được tham gia và giúp sức mình cho cộng đồng. Trải
                                nghiệm thật khó quên. Cảm ơn ban tổ chức!</p>
                            <p class="green_light-color fst-italic fs-10 my-1 mx-3">20 ngày trước</p>
                        </div>
                        <!-- Check comment -->
                        <div class="container d-flex align-items-center justify-content-center">
                            <i class="bi bi-check-lg green_light-color flex-1 p-4 fs-3 fw-bold"></i><i
                                class="bi bi-check-lg green_light-color flex-1 p-4 fs-3 fw-bold"></i>
                            <i class="bi bi-check-lg green_light-color flex-1 p-4 fs-3 fw-bold"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script defer th:src="@{/js/base.js}"></script>
<script defer th:src="@{/js/TrangChuDanhGia.js}"></script>

</html>